<h3 class="header">{{ customerHeader }}</h3>
<tabset #staticTabs class="customer">
    <tab id="tab_profile" heading="{{ 'MEMBER_TABS.PROFILE' | translate }}" (selectTab)="doThisOnSelect($event)">
        <app-member-detail *ngIf="this.staticTabs.tabs[0].active"></app-member-detail>
    </tab>
    <tab
        id="tab_calendar"
        heading="{{ 'MEMBER_TABS.CALENDAR' | translate }}"
        (selectTab)="doThisOnSelect($event)"
        *ngIf="!isCreateNew"
    >
        <app-calendar *ngIf="this.staticTabs.tabs[1].active"></app-calendar>
    </tab>
    <tab
        id="tab_diet_plan"
        heading="{{ 'MEMBER_TABS.DIET_PLAN' | translate }}"
        (selectTab)="doThisOnSelect($event)"
        *ngIf="!isCreateNew"
    >
        <app-diet-plan *ngIf="this.staticTabs.tabs[2].active"></app-diet-plan>
    </tab>
    <tab
        id="tab_workout_plan"
        heading="{{ 'MEMBER_TABS.WORKOUT_PLAN' | translate }}"
        (selectTab)="doThisOnSelect($event)"
        *ngIf="!isCreateNew"
    >
        <app-work-out-plan *ngIf="this.staticTabs.tabs[3].active"></app-work-out-plan>
    </tab>
    <tab
        id="tab_result"
        heading="{{ 'MEMBER_TABS.RESULT' | translate }}"
        (selectTab)="doThisOnSelect($event)"
        *ngIf="!isCreateNew"
    >
        <app-result *ngIf="this.staticTabs.tabs[4].active"></app-result>
    </tab>
    <tab
        id="tab_chat"
        heading="{{ 'MEMBER_TABS.CHAT' | translate }}"
        (selectTab)="doThisOnSelect($event)"
        *ngIf="!isCreateNew"
    >
        <app-chat *ngIf="this.staticTabs.tabs[5].active"></app-chat>
    </tab>
    <tab
        id="tab_coaching"
        heading="{{ 'MEMBER_TABS.COACHING' | translate }}"
        (selectTab)="doThisOnSelect($event)"
        *ngIf="!isCreateNew"
    >
        <app-coaching *ngIf="this.staticTabs.tabs[6].active"></app-coaching>
    </tab>
    <tab
        id="tab_workout_data"
        heading="{{ 'MEMBER_TABS.WORKOUT_DATA' | translate }}"
        (selectTab)="doThisOnSelect($event)"
        *ngIf="!isCreateNew"
    >
        <app-workout-data *ngIf="this.staticTabs.tabs[7].active"></app-workout-data>
    </tab>
    <tab
        id="tab_challenges"
        heading="{{ 'MEMBER_TABS.CHALLENGES' | translate }}"
        (selectTab)="doThisOnSelect($event)"
        *ngIf="!isCreateNew"
    >
        <app-challenges *ngIf="this.staticTabs.tabs[8].active"></app-challenges>
    </tab>
    <tab
        id="tab_personal_coach"
        heading="{{ 'MEMBER_TABS.PERSONAL_TRANER' | translate }}"
        (selectTab)="doThisOnSelect($event)"
        *ngIf="!isCreateNew"
    >
        <app-personal-coach *ngIf="this.staticTabs.tabs[9].active"></app-personal-coach>
    </tab>
    <tab
        id="tab_history_booking"
        heading="{{ 'MEMBER_TABS.BOOKING_HISTORY' | translate }}"
        (selectTab)="doThisOnSelect($event)"
        *ngIf="!isCreateNew"
    >
        <app-booking-history *ngIf="this.staticTabs.tabs[10].active"></app-booking-history>
    </tab>
    <tab
        id="tab_voucher_logs"
        heading="{{ 'MEMBER_TABS.VOUCHER_LOGS' | translate }}"
        (selectTab)="doThisOnSelect($event)"
        *ngIf="!isCreateNew"
    >
        <app-voucher-logs *ngIf="this.staticTabs.tabs[11].active"></app-voucher-logs>
    </tab>
    <tab
        id="tab_journal"
        heading="{{ 'MEMBER_TABS.JOURNAL' | translate }}"
        (selectTab)="doThisOnSelect($event)"
        *ngIf="!isCreateNew"
    >
        <app-journal *ngIf="this.staticTabs.tabs[12].active"></app-journal>
    </tab>
</tabset>
