body {
    background-color: transparent;
}

.res-content {
    h2 {
        color: #000 !important;
    }
    overflow-x: hidden;
}

.memberPlanContainer h1,
.memberPlanContainer h2,
.memberPlanContainer h3,
.memberPlanContainer h4,
.memberPlanContainer h5,
.memberPlanContainer h6 {
    color: #000 !important;
}
