::ng-deep .bs-datepicker-body table td span.custom-selected-date {
    background-color: #718928 !important;
    color: white !important;
}
::ng-deep .bs-datepicker-body table td span.custom-selected-date.selected {
    background-color: #404040 !important;
    color: white !important;
}

::ng-deep .bs-datepicker-body table td span.selected {
    background-color: #404040 !important;
    color: white !important;
}

::ng-deep .bs-datepicker-body table.days span.in-range:before {
    background-color: transparent !important;
}

::ng-deep .bs-datepicker-body table td span.today {
    background-color: #d1e499 !important;
    color: #718928 !important;
}
