<!-- <h3 class="header">{{ 'EXERCISE.HEADER' | translate }}</h3> -->
<h3 class="header" *ngIf="!id">{{ "EXERCISE_DETAIL.EXERCISE_NEW" | translate }}</h3>
<h3 class="header" *ngIf="id">{{ "EXERCISE_DETAIL.EXERCISE_EDIT" | translate }}</h3>
<div class="card">
    <form (ngSubmit)="onSubmit()" [formGroup]="exerciseDetailForm">
        <div class="form-group required-form">
            <label for="exampleInput1">{{ "EXERCISE_DETAIL.NAME" | translate }}</label>
            <div>
                <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
            'is-invalid':
              f.name.touched && (f.name.errors || f.name.errors?.required)
          }"
                    id="name"
                    name="name"
                    formControlName="name"
                    value="{{ exerciseDetail?.name }}"
                />
                <div *ngIf="f.name.touched" class="invalid-feedback">
                    <app-control-messages [control]="exerciseDetailForm.get('name')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "EXERCISE_DETAIL.CATEGORY" | translate }}</label>
            <div>
                <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
            'is-invalid':
              f.category.touched &&
              (f.category.errors || f.category.errors?.required)
          }"
                    id="category"
                    name="category"
                    formControlName="category"
                    value="{{ exerciseDetail?.category }}"
                />
                <div *ngIf="f.category.touched" class="invalid-feedback">
                    <app-control-messages [control]="exerciseDetailForm.get('category')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInput3">{{ "EXERCISE_DETAIL.WEIGHT_FACTOR" | translate }}</label>
            <div>
                <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
          'is-invalid':
            f.weightFactor.touched &&
            (f.weightFactor.errors || f.weightFactor.errors?.required)
        }"
                    id="weightFactor"
                    name="weightFactor"
                    formControlName="weightFactor"
                    value="{{ exerciseDetail?.weightFactor }}"
                />
                <div *ngIf="f.weightFactor.touched" class="invalid-feedback">
                    <app-control-messages [control]="exerciseDetailForm.get('weightFactor')"> </app-control-messages>
                </div>
            </div>
        </div>

        <div class="form-group drag-n-drop-multi">
            <label for="exampleInput3">{{ "EXERCISE_DETAIL.LIST_EXERCISE" | translate }}</label>
            <div>
                <div class="drag-n-drop">
                    <div class="drag-n-drop-col">
                        <div class="drag-n-drop-warp">
                            <div class="drag-n-drop-area">
                                <div class="drag-n-drop-header">
                                    <div class="form-search">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                                formControlName="alternativeExercise"
                                                placeholder="{{ 'LIST.SEARCH' | translate }}"
                                                aria-label="Recipient's username"
                                                aria-describedby="basic-addon2"
                                                (ngModelChange)="searchExercise()"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn" type="button" (click)="searchExercise()">
                                                    <i class="fad fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <perfect-scrollbar class="drag-n-drop-body" [config]="config">
                                    <div
                                        class="list-group drag-n-drop-body"
                                        dragula="ITEMS"
                                        id="exercise"
                                        [(dragulaModel)]="exerciseList"
                                    >
                                        <ng-container *ngFor="let exercise of exerciseList">
                                            <div
                                                class="list-group-item group-handle"
                                                [innerHtml]="
                                                exercise?.id + ' ' + exercise?.name"
                                                [class.d-none]="!isInResult(exercise)"
                                            ></div>
                                        </ng-container>
                                    </div>
                                </perfect-scrollbar>
                            </div>
                        </div>
                        <div class="drag-n-drop-warp">
                            <div class="drag-n-drop-area">
                                <div class="drag-n-drop-header">
                                    <span>{{ "EXERCISE_DETAIL.LIST_ALTERNATIVE_DRAG_AND_DROP" | translate }}</span>
                                </div>
                                <div
                                    class="drag-n-drop-header"
                                    style="cursor: pointer"
                                    (click)="deleteAll()"
                                    *ngIf="selectedAlternativeExercise.length > 0"
                                >
                                    <span>{{ "EXERCISE_DETAIL.DELETE_ALL_EXERCISES" | translate }}</span>
                                </div>
                                <perfect-scrollbar class="drag-n-drop-body" [config]="config">
                                    <div
                                        class="list-group drag-n-drop-body"
                                        dragula="ITEMS"
                                        id="alternative"
                                        [(dragulaModel)]="selectedAlternativeExercise"
                                    >
                                        <div
                                            class="list-group-item group-handle"
                                            *ngFor="let exercise of selectedAlternativeExercise"
                                            [innerHtml]="
                                            exercise?.id + ' ' + exercise?.name"
                                        ></div>
                                    </div>
                                </perfect-scrollbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInput3">{{ "EXERCISE_DETAIL.NOTE" | translate }}</label>
            <div>
                <textarea
                    class="form-control"
                    id="note"
                    name="note"
                    formControlName="note"
                    value="{{ exerciseDetail?.note }}"
                    style="min-height: 100px"
                >
                </textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInput3"> {{ "EXERCISE_DETAIL.NOTE_ALTERNATIVE" | translate }} </label>
            <div>
                <ckeditor
                    class="form-control"
                    [ngClass]="{
          'is-invalid':
            f.noteAlternative.touched &&
            (f.noteAlternative.errors || f.noteAlternative.errors?.required)
        }"
                    formControlName="noteAlternative"
                    name="noteAlternative"
                    [editor]="classicEditor"
                    data="exerciseDetailForm?.noteAlternative"
                    rows="6"
                    [config]="{
          toolbar: [
            'heading',
            '|',
            'bold',
            'italic',
            'bulletedList',
            'undo',
            'redo'
          ]
        }"
                >
                </ckeditor>
                <div *ngIf="f.noteAlternative.touched" class="invalid-feedback">
                    <app-control-messages [control]="exerciseDetailForm.get('noteAlternative')"> </app-control-messages>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-col-form-label" for="inputError1">{{ "EXERCISE_DETAIL.IMAGE" | translate }}</label>
            <div class="col">
                <div style="padding-bottom: 10px; max-width: 300px" *ngIf="!this.exerciseDetail?.picture?.url">
                    <ngx-dropzone
                        (change)="onImageExerciseSelected($event)"
                        [expandable]="true"
                        [accept]="'image/png,image/jpeg,image/jpg'"
                        [multiple]="false"
                        [maxFileSize]="1000000"
                    >
                        <ngx-dropzone-label> {{ "EXERCISE_DETAIL.DROP_IMAGE_TEXT" | translate }} </ngx-dropzone-label>
                        <ngx-dropzone-image-preview
                            ngProjectAs="ngx-dropzone-preview"
                            *ngFor="let exercise of exerciseImage"
                            [file]="exercise"
                            [removable]="true"
                            (removed)="onRemoveFoodSelected(exercise)"
                        >
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div class="img-view" *ngIf="this.exerciseDetail?.picture?.url">
                    <img class="profile-img" src="{{ this.name_image }}" alt="" (error)="setNoImage($event)" />
                    <button type="button" class="btn btn-danger" (click)="removeFoodImage()">
                        <i class="fad fa-trash"></i>
                    </button>
                </div>
                <div *ngIf="imageErrorSize" class="invalid-feedback" style="display: block">
                    <div>{{ "EXERCISE_DETAIL.ERROR_MESSAGE_SIZE_IMAGE" | translate }}</div>
                </div>
                <i [translate]="'EXERCISE_DETAIL.HELP_TEXT'"></i>
            </div>
        </div>
        <div class="form-group">
            <label></label>
            <div class="button-area">
                <button type="submit" class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
                <button class="btn btn-outline-secondary" [routerLink]="['/exercise']">
                    {{ "FORM.CANCEL" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
