<div class="card">
    <div class="form-option">
        <div class="search-filter-area">
            <div class="form-filter">
                <div class="input-group">
                    <angular2-multiselect
                        [data]="dropdownExpiredList"
                        [(ngModel)]="selectedItems"
                        [settings]="dropdownExpiredSettings"
                        (onSelect)="onItemSelect()"
                        (onDeSelect)="onItemSelect()"
                        (onSelectAll)="onItemSelect()"
                        (onDeSelectAll)="onItemSelect()"
                        (onOpen)="onOpen()"
                        (onClose)="onClose()"
                    >
                    </angular2-multiselect>
                </div>
            </div>
            <div class="form-filter">
                <div class="input-group">
                    <angular2-multiselect
                        [data]="dropdownMotivationList"
                        [(ngModel)]="selectedMotivations"
                        [settings]="dropdownMotivationSettings"
                        (onSelect)="onItemSelect()"
                        (onDeSelect)="onItemSelect()"
                        (onSelectAll)="onItemSelect()"
                        (onDeSelectAll)="onItemSelect()"
                        (onOpen)="onOpen()"
                        (onClose)="onClose()"
                    >
                    </angular2-multiselect>
                </div>
            </div>
            <div class="form-filter">
                <div class="input-group">
                    <angular2-multiselect
                        [data]="dropdownCoachList"
                        [(ngModel)]="selectedCoach"
                        [settings]="dropdownCoachSettings"
                        (onSelect)="onItemSelect()"
                        (onDeSelect)="onItemSelect()"
                        (onSelectAll)="onItemSelect()"
                        (onDeSelectAll)="onItemSelect()"
                        (onOpen)="onOpen()"
                        (onClose)="onClose()"
                    >
                    </angular2-multiselect>
                </div>
            </div>
            <div class="form-search">
                <div class="input-group">
                    <input
                        type="text"
                        [(ngModel)]="keyword"
                        class="form-control"
                        placeholder="{{ 'LIST.SEARCH' | translate }}"
                        aria-label="Recipient's username"
                        aria-describedby="basic-addon2"
                        (keyup.enter)="searchMember()"
                    />
                    <div class="input-group-append">
                        <button class="btn" type="button" (click)="searchMember()">
                            <i class="fad fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-area">
            <button class="btn btn-primary" [routerLink]="['/customers', 'detail']">
                <i class="fad fa-plus"></i>{{ "LIST.BUTTON" | translate }}
            </button>
        </div>
    </div>
    <div class="table-horizontal-scroll">
        <table class="table table-hover">
            <thead *ngIf="hasResult">
                <tr>
                    <th
                        class="sorting no-warp"
                        [class.asc]="!paging.IsSorted && paging.Field == 'full_name'"
                        [class.desc]="paging.IsSorted && paging.Field == 'full_name'"
                        (click)="isSorting('full_name')"
                    >
                        {{ "MEMBER.NAME" | translate }}
                    </th>
                    <th
                        class="sorting no-warp"
                        [class.asc]="!paging.IsSorted && paging.Field == 'phone_number'"
                        [class.desc]="paging.IsSorted && paging.Field == 'phone_number'"
                        (click)="isSorting('phone_number')"
                    >
                        {{ "MEMBER.PHONE_LIST" | translate }}
                    </th>
                    <th
                        class="sorting no-warp"
                        [class.asc]="!paging.IsSorted && paging.Field == 'motivation'"
                        [class.desc]="!paging.IsSorted && paging.Field == 'motivation'"
                        (click)="isSorting('motivation')"
                    >
                        {{ "MEMBER.MOTIVATION" | translate }}
                    </th>
                    <th
                        class="sorting no-warp"
                        [class.asc]="
              !paging.IsSorted && paging.Field == 'result_growth.weight'
            "
                        style="text-align: right"
                        [class.desc]="
              paging.IsSorted && paging.Field == 'result_growth.weight'
            "
                        (click)="isSorting('result_growth.weight')"
                    >
                        {{ "MEMBER.WEIGHT" | translate }}
                    </th>
                    <th
                        class="sorting no-warp"
                        [class.asc]="
              !paging.IsSorted && paging.Field == 'result_growth.fat'
            "
                        style="text-align: right"
                        [class.desc]="
              paging.IsSorted && paging.Field == 'result_growth.fat'
            "
                        (click)="isSorting('result_growth.fat')"
                    >
                        {{ "MEMBER.FAT" | translate }}
                    </th>
                    <th
                        class="sorting no-warp"
                        [class.asc]="
              !paging.IsSorted && paging.Field == 'result_growth.fat_mass'
            "
                        style="text-align: right"
                        [class.desc]="
              paging.IsSorted && paging.Field == 'result_growth.fat_mass'
            "
                        (click)="isSorting('result_growth.fat_mass')"
                    >
                        {{ "MEMBER.FAT_MASS" | translate }}
                    </th>
                    <th
                        class="sorting no-warp"
                        [class.asc]="!paging.IsSorted && paging.Field == 'followup.coach'"
                        [class.desc]="paging.IsSorted && paging.Field == 'followup.coach'"
                        (click)="isSorting('followup.coach')"
                    >
                        {{ "MEMBER.COACH" | translate }}
                    </th>
                    <th
                        class="sorting no-warp"
                        [class.asc]="
              paging.TypeSort == 'asc' && paging.Field == 'followup.date'
            "
                        style="text-align: right"
                        [class.desc]="
              paging.TypeSort == 'desc' && paging.Field == 'followup.date'
            "
                        (click)="isSorting('followup.date')"
                    >
                        {{ "MEMBER.FOLLOWUP.HEADER" | translate }}
                    </th>
                    <th
                        class="sorting nowrap text-right"
                        [class.asc]="
              !paging.IsSorted && paging.Field == 'workout_plan.renewal_date'
            "
                        [class.desc]="
              paging.IsSorted && paging.Field == 'workout_plan.renewal_date'
            "
                        (click)="isSorting('workout_plan.renewal_date')"
                    >
                        {{ "MEMBER.DATE_WORK" | translate }}
                    </th>
                    <th
                        class="sorting nowrap text-right"
                        [class.asc]="
              !paging.IsSorted &&
              paging.Field == 'diet_plan_daily.diet_plan_date'
            "
                        [class.desc]="
              paging.IsSorted &&
              paging.Field == 'diet_plan_daily.diet_plan_date'
            "
                        (click)="isSorting('diet_plan_daily.diet_plan_date')"
                    >
                        {{ "MEMBER.DATE_DIET" | translate }}
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="hasResult">
                <tr *ngFor="let member of pagingMemberList">
                    <td class="nowrap" data-th="Navn">{{ member.full_name }}</td>
                    <td class="nowrap" data-th="Tlf. nummer">{{ member.phone_number }}</td>
                    <td class="nowrap" data-th="Motivation">
                        <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="circle"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            class="svg-inline--fa fa-circle fa-w-16"
                            [style.fill]="getIconItem(member.motivation)"
                        >
                            <path
                                d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"
                                class=""
                                fill=""
                            ></path></svg
                        >{{ getNameItem(member.motivation) }}
                    </td>
                    <td data-th="weight" style="text-align: right">{{ showValue(member.weight) }}</td>
                    <td data-th="fat" style="text-align: right">{{ showValue(member.fat) }}</td>
                    <td data-th="fat_mass" style="text-align: right">{{ showValue(member.fat_mass) }}</td>
                    <td data-th="coach" class="nowrap">{{ member.followup_coach }}</td>
                    <td data-th="followup_date" class="nowrap text-right">
                        <div tooltip="{{ member.followup_note }}" placement="right">
                            <i *ngIf="hasFollowup(member.followup_note)" class="fad fa-comment-alt-dots"></i>
                            <a [ngClass]="checkFollowupIsPast(member.followup_date)">
                                {{ member.followup_date | date : dateFormat }}
                            </a>
                        </div>
                    </td>
                    <td class="nowrap text-right" data-th="Date of workout plan">
                        {{ member.workout_plan_date | date : fullDateTime : undefined : "da-DK" }}
                    </td>
                    <td class="nowrap text-right" data-th="Date of diet plan">
                        {{ member.diet_plan_date | date : fullDateTime : undefined : "da-DK" }}
                    </td>
                    <td class="button-area">
                        <button class="btn btn-outline-primary" [routerLink]="['/customers', member.uid, 'detail']">
                            <i class="fad fa-pencil"></i>
                        </button>
                        <button
                            *ngIf="currentUser?.isAdmin"
                            class="btn btn-outline-danger"
                            (click)="deactivateModal.show(); setMemberId(member.uid)"
                        >
                            <i class="fad fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-no-data" *ngIf="isEmpty">
        <span [translate]="'MEMBER_LIST.EMPTY_LIST'"></span>
    </div>
    <div class="table-no-data" *ngIf="!hasResult">
        <span [translate]="'MEMBER_LIST.NO_RESULT'"></span>
    </div>
    <pagination
        [boundaryLinks]="true"
        [totalItems]="total"
        [itemsPerPage]="itemPerPage"
        [maxSize]="maxSize"
        [customFirstTemplate]="firstTemplate"
        [customLastTemplate]="lastTemplate"
        [customPreviousTemplate]="prevTemplate"
        [customNextTemplate]="nextTemplate"
        (pageChanged)="pageChanged($event)"
    >
    </pagination>
    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-right"></i>
    </ng-template>
    <ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-double-right"></i>
    </ng-template>
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-left"></i>
    </ng-template>
    <ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-double-left"></i>
    </ng-template>
</div>

<!--Deactivate modal-->
<div
    bsModal
    #deactivateModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'MODAL.TITLE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'MODAL.DESCRIPTION'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="deactivateModal.hide()"
                    [translate]="'REACTIVATE_MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="deactivateModal.hide(); deleteMember()"
                    [translate]="'REACTIVATE_MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>
