<div class="card">
    <form (ngSubmit)="onSubmit()" [formGroup]="memberDetailForm">
        <div class="form-group">
            <label for="exampleInput1"></label>
            <div>
                <img
                    src="{{ profile_image }}"
                    alt="profile"
                    class="profile-img rounded-circle"
                    (error)="setNoImage($event)"
                />
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput1">{{ "MEMBER.NAME" | translate }}</label>
            <div>
                <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
            'is-invalid':
              f.full_name.touched &&
              (f.full_name.errors || f.full_name.errors?.required)
          }"
                    id="full_name"
                    name="full_name"
                    formControlName="full_name"
                    value="{{ memberDetail?.full_name }}"
                />
                <div *ngIf="f.full_name.touched" class="invalid-feedback">
                    <app-control-messages [control]="memberDetailForm.get('full_name')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput1">{{ "MEMBER.PHONE" | translate }}</label>
            <div>
                <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
            'is-invalid':
              f.phone_number.touched &&
              (f.phone_number.errors || f.phone_number.errors?.required)
          }"
                    id="phone_number"
                    name="phone_number"
                    formControlName="phone_number"
                    value="{{ memberDetail?.phone_number }}"
                />
                <div *ngIf="f.phone_number.touched" class="invalid-feedback">
                    <app-control-messages [control]="memberDetailForm.get('phone_number')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group required-form">
            <label>{{ "MEMBER.SEX" | translate }}</label>
            <div class="form-filter short">
                <angular2-multiselect
                    [data]="dropdownMemberSexList"
                    id="member_sex"
                    name="member_sex"
                    formControlName="member_sex"
                    [ngClass]="{
            'is-invalid':
              (f.member_sex?.touched &&
                (f.member_sex?.errors || f.member_sex.errors?.required)) ||
              (f.member_sex?.touched && !selectedMemberSex)
          }"
                    [settings]="dropdownMemberSexSettings"
                    (onClose)="modelChanged()"
                    [(ngModel)]="selectedMemberSex"
                >
                </angular2-multiselect>
                <div *ngIf="f.member_sex?.touched" class="invalid-feedback">
                    <app-control-messages [control]="memberDetailForm.get('member_sex')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>{{ "MEMBER.COACH_NOTE" | translate }}</label>
            <div>
                <textarea
                    type="text"
                    class="form-control"
                    style="min-height: 100px"
                    formControlName="coach_note"
                ></textarea>
            </div>
        </div>
        <div class="form-group">
            <label>{{ "MEMBER.MOTIVATION_HEADER" | translate }}</label>
            <div class="form-filter short">
                <angular2-multiselect
                    formControlName="motivation_select"
                    [data]="dropdownMotivationList"
                    [settings]="dropdownMotivationSettings"
                    (onSelect)="onMotivationSelect($event)"
                    (onDeSelect)="onMotivationDeSelect($event)"
                    (onDeSelectAll)="onMotivationDeSelectAll($event)"
                >
                    <c-badge>
                        <ng-template let-item="item">
                            <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fas"
                                data-icon="circle"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                                class="svg-inline--fa fa-circle fa-w-16"
                                [style.fill]="getIconItem(item.level)"
                            >
                                <path
                                    d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"
                                    class=""
                                    fill=""
                                ></path>
                            </svg>
                            <label style="margin: 0px">{{ item.itemName }}</label>
                        </ng-template>
                    </c-badge>
                    <c-item>
                        <ng-template let-item="item">
                            <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fas"
                                data-icon="circle"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                                class="svg-inline--fa fa-circle fa-w-16"
                                [style.fill]="getIconItem(item.level)"
                            >
                                <path
                                    d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"
                                    class=""
                                    fill=""
                                ></path>
                            </svg>
                            <label style="color: #333; min-width: 150px">{{ item.itemName }}</label>
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
            </div>
        </div>
        <div class="form-group">
            <label>{{ "MEMBER.FOLLOWUP.NOTE" | translate }}</label>
            <div>
                <textarea
                    type="text"
                    class="form-control"
                    style="min-height: 100px"
                    formControlName="followup_note"
                ></textarea>
            </div>
        </div>
        <div class="form-group">
            <label>{{ "MEMBER.FOLLOWUP.DATE" | translate }}</label>
            <div class="short">
                <input
                    formControlName="followup_date"
                    class="form-control date-picker"
                    placeholder="dd/mm/yyyy"
                    value="{{ followupDate | date : dateFormat}}"
                    bsDatepicker
                    [bsConfig]="{
            isAnimated: true,
            showClearButton: true,
            clearPosition: 'right',
            dateInputFormat: datePickerFormat
          }"
                />
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInput3">{{ "MEMBER.FOLLOWUP.COACH_ASSIGNED" | translate }}</label>
            <div class="short">
                <angular2-multiselect
                    formControlName="followup_coach"
                    [(ngModel)]="selectedCoach"
                    [data]="dropdownCoachList"
                    [settings]="dropdownCoachSettings"
                    (onSelect)="onItemSelect($event)"
                    (onDeSelect)="onItemDeSelect($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"
                >
                </angular2-multiselect>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "MEMBER.IAP_STATUS" | translate }}</label>
            <div class="short">
                <angular2-multiselect
                    [data]="dropdownMemberTypeList"
                    id="member_type"
                    name="member_type"
                    formControlName="member_type"
                    [ngClass]="{
            'is-invalid':
              (f.member_type?.touched &&
                (f.member_type?.errors || f.member_type.errors?.required)) ||
              (f.member_type?.touched && !selectedMemberType)
          }"
                    [settings]="dropdownMemberTypeSettings"
                    (onClose)="modelChanged()"
                    (onDeSelectAll)="onDeSelectAll($event)"
                    [(ngModel)]="selectedMemberType"
                >
                </angular2-multiselect>
                <div *ngIf="f.member_type?.touched" class="invalid-feedback">
                    <app-control-messages [control]="memberDetailForm.get('member_type')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label></label>
            <div class="button-area">
                <button type="submit" class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
                <button class="btn btn-outline-secondary" [routerLink]="['/customers']">
                    {{ "FORM.CANCEL" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>

<div class="card" [hidden]="isCreateNew">
    <fieldset [disabled]="!currentUser?.isAdmin">
        <form class="form" (ngSubmit)="onSubmitSubscription1()" [formGroup]="memberSubscription1Form">
            <!-- Assign subscription #1 -->
            <h3 class="header">{{ "MEMBERSUBSCRIPTION.HEADER" | translate }}</h3>
            <div class="form-group">
                <label>{{ "MEMBERSUBSCRIPTION.SUBSCIRPTION_NAME" | translate }}</label>
                <div class="dropdown-subscription required-form short">
                    <angular2-multiselect
                        formControlName="user_subscription"
                        [data]="dropdownSubscriptionList"
                        [settings]="dropdownSubscriptionSettings"
                        [(ngModel)]="selectedSubscription"
                        (onSelect)="onItemSubscriptionSelect($event)"
                        (onDeSelect)="onItemSubscriptionDeSelect($event)"
                        (onDeSelectAll)="onItemSubscriptionDeSelect($event)"
                        [ngClass]="{
              'is-invalid':
                fSub1.user_subscription.touched &&
                (fSub1.user_subscription.errors ||
                  fSub1.user_subscription.errors?.required)
            }"
                    >
                    </angular2-multiselect>
                    <div
                        *ngIf="
              fSub1.user_subscription.touched &&
              fSub1.user_subscription.errors?.required
            "
                        class="invalid-feedback"
                    >
                        <app-control-messages [control]="memberSubscription1Form.get('user_subscription')">
                        </app-control-messages>
                    </div>
                </div>
            </div>
            <div class="form-group required-form">
                <label>{{ "MEMBERSUBSCRIPTION.START_DATE" | translate }}</label>
                <div class="short">
                    <input
                        formControlName="start_date"
                        class="form-control date-picker"
                        placeholder="dd/mm/yyyy"
                        bsDatepicker
                        [attr.disabled]="isDisabledStartDate ? '' : null"
                        [minDate]="setMinStartDate(1)"
                        [bsConfig]="{
              isAnimated: true,
              dateInputFormat: datePickerFormat
            }"
                        [ngClass]="{ 'is-invalid': isStartDateInvalid }"
                        [(ngModel)]="startDate"
                        (bsValueChange)="onStartDateChange($event)"
                    />
                    <span *ngIf="isStartDateInvalid" class="invalid-feedback">
                        {{ "MEMBERSUBSCRIPTION.REQUIRED_START_DATE" | translate }}
                    </span>
                    <span style="display: block" class="invalid-feedback" *ngIf="isDateInvalid">
                        {{ "MEMBER.VALIDATION.SUBSCRIPTION_DATE_INVALID" | translate }}
                    </span>
                </div>
            </div>
            <div class="form-group required-form">
                <label>{{ "MEMBERSUBSCRIPTION.END_DATE" | translate }}</label>
                <div class="short">
                    <input
                        formControlName="end_date"
                        class="form-control date-picker"
                        placeholder="dd/mm/yyyy"
                        [minDate]="setMinEndDate(1)"
                        bsDatepicker
                        [bsConfig]="{
              isAnimated: true,
              dateInputFormat: datePickerFormat
            }"
                        (bsValueChange)="onEndDateChange($event)"
                        [ngClass]="{ 'is-invalid': isEndDateInvalid }"
                        [(ngModel)]="endDate"
                    />
                    <span *ngIf="isEndDateInvalid" class="invalid-feedback">
                        {{ "MEMBERSUBSCRIPTION.REQUIRED_END_DATE" | translate }}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>{{ "MEMBERSUBSCRIPTION.SUBSCRIPTION_SECTION" | translate }}1</label>
                <label>{{ resetDate }}</label>
            </div>
            <div class="form-group" *ngIf="subscriptionDescription">
                <label>{{ "MEMBERSUBSCRIPTION.DESCIRPTION" | translate }}</label>
                <div class="descirption">
                    <label>{{ subscriptionDescription }}</label>
                </div>
            </div>
            <div class="form-group">
                <label></label>
                <div class="form-group">
                    <label></label>
                    <div class="button-area" style="width: 100%">
                        <button type="submit" class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
                        <button
                            type="button"
                            class="btn btn-warning"
                            *ngIf="isAssignSubscription"
                            (click)="
                setSubscriptionId(subscriptionDocId);
                cancelSubscriptionModal.show()
              "
                        >
                            {{ "MEMBERSUBSCRIPTION.CANCEL_BUTTON" | translate }}
                        </button>
                        <button
                            type="button"
                            class="btn btn-danger"
                            *ngIf="isAssignSubscription"
                            (click)="
                setSubscriptionId(subscriptionDocId);
                resetSubscriptionModal.show()
              "
                        >
                            {{ "MEMBERSUBSCRIPTION.RESET_BUTTON" | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="edit-form">
            <form class="form" (ngSubmit)="onSubmitSubscription2()" [formGroup]="memberSubscription2Form">
                <!-- Assign subscription #2 -->
                <div class="form-group">
                    <label>{{ "MEMBERSUBSCRIPTION.SUBSCIRPTION_NAME2" | translate }}</label>
                    <div class="dropdown-subscription short">
                        <angular2-multiselect
                            formControlName="user_subscription2"
                            [(ngModel)]="selectedSubscription2"
                            [data]="dropdownSubscription2List"
                            [settings]="dropdownSubscription2Settings"
                            (onSelect)="onChangeSubscription2($event)"
                            (onDeSelect)="onItemSubscriptionDeSelect2($event)"
                            (onDeSelectAll)="onItemSubscriptionDeSelect2($event)"
                            [ngClass]="{
                'is-invalid':
                  fSub2.user_subscription2.touched &&
                  (fSub2.user_subscription2.errors ||
                    fSub2.user_subscription2.errors?.required)
              }"
                        >
                        </angular2-multiselect>
                        <div
                            *ngIf="
                fSub2.user_subscription2.touched &&
                fSub2.user_subscription2.errors?.required
              "
                            class="invalid-feedback"
                        >
                            <app-control-messages [control]="memberSubscription2Form.get('user_subscription2')">
                            </app-control-messages>
                        </div>
                    </div>
                </div>
                <div class="form-group required-form">
                    <label>{{ "MEMBERSUBSCRIPTION.START_DATE" | translate }}</label>
                    <div class="short">
                        <input
                            formControlName="start_date2"
                            class="form-control date-picker"
                            placeholder="dd/mm/yyyy"
                            bsDatepicker
                            [minDate]="setMinStartDate(2)"
                            [bsConfig]="{
                isAnimated: true,
                dateInputFormat: datePickerFormat
              }"
                            [attr.disabled]="isDisabledStartDate2 ? '' : null"
                            [ngClass]="{ 'is-invalid': isStartDate2Invalid }"
                            [(ngModel)]="startDate2"
                            (bsValueChange)="onStartDate2Change($event)"
                        />
                        <span *ngIf="isStartDate2Invalid" class="invalid-feedback">
                            {{ "MEMBERSUBSCRIPTION.REQUIRED_START_DATE" | translate }}
                        </span>
                        <span style="display: block" class="invalid-feedback" *ngIf="isDate2Invalid">
                            {{ "MEMBER.VALIDATION.SUBSCRIPTION_DATE_INVALID" | translate }}
                        </span>
                    </div>
                </div>
                <div class="form-group required-form">
                    <label>{{ "MEMBERSUBSCRIPTION.END_DATE" | translate }}</label>
                    <div class="short">
                        <input
                            formControlName="end_date2"
                            class="form-control date-picker"
                            (bsValueChange)="onEndDate2Change($event)"
                            placeholder="dd/mm/yyyy"
                            bsDatepicker
                            [minDate]="setMinEndDate(2)"
                            [bsConfig]="{
                isAnimated: true,
                dateInputFormat: datePickerFormat
              }"
                            [ngClass]="{ 'is-invalid': isEndDate2Invalid }"
                            [(ngModel)]="endDate2"
                        />
                        <span *ngIf="isEndDate2Invalid" class="invalid-feedback">
                            {{ "MEMBERSUBSCRIPTION.REQUIRED_END_DATE" | translate }}</span
                        >
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ "MEMBERSUBSCRIPTION.SUBSCRIPTION_SECTION" | translate }}2</label>
                    <label>{{ resetDate2 }}</label>
                </div>
                <div class="form-group" *ngIf="subscriptionDescription2">
                    <label>{{ "MEMBERSUBSCRIPTION.DESCIRPTION" | translate }}</label>
                    <div class="descirption">
                        <label>{{ subscriptionDescription2 }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label></label>
                    <div class="form-group">
                        <label></label>
                        <div class="button-area" style="width: 100%">
                            <button type="submit" class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
                            <button
                                type="button"
                                class="btn btn-warning"
                                *ngIf="isAssignSubscription2"
                                (click)="
                  setSubscriptionId(subscriptionDocId2);
                  cancelSubscriptionModal.show()
                "
                            >
                                {{ "MEMBERSUBSCRIPTION.CANCEL_BUTTON" | translate }}
                            </button>
                            <button
                                type="button"
                                class="btn btn-danger"
                                *ngIf="isAssignSubscription2"
                                (click)="
                  setSubscriptionId(subscriptionDocId2);
                  resetSubscriptionModal.show()
                "
                            >
                                {{ "MEMBERSUBSCRIPTION.RESET_BUTTON" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Clipboard -->
        <div class="form-edit">
            <form class="form" (ngSubmit)="onSubmitVoucher()" [formGroup]="voucherForm">
                <div class="form-group" [ngClass]="{ 'required-form': voucherIsEnabled }">
                    <label>{{ "MEMBERSUBSCRIPTION.VOUCHER" | translate }}</label>
                    <div>
                        <label class="switch switch-label switch-pill switch-outline-primary-alt">
                            <input
                                formControlName="is_voucher_enabled"
                                [(ngModel)]="voucherIsEnabled"
                                (change)="onEnabledVoucher($event)"
                                class="switch-input"
                                type="checkbox"
                            />
                            <span
                                class="switch-slider"
                                attr.data-checked="{{ 'FORM.ON' | translate }}"
                                attr.data-unchecked="{{ 'FORM.OFF' | translate }}"
                            ></span>
                        </label>
                    </div>
                </div>
                <div class="form-group" *ngIf="voucherIsEnabled">
                    <label></label>
                    <div class="inline-select equal-width-input">
                        <div>
                            <select
                                class="form-control custom-select small"
                                formControlName="voucher_times"
                                [(ngModel)]="voucherTime"
                                [ngClass]="{
                  'is-invalid':
                    fVoucher.voucher_times?.touched &&
                    (fVoucher.voucher_times.errors ||
                      fVoucher.voucher_times.errors?.required)
                }"
                            >
                                <option [value]="''">{{ "MEMBERSUBSCRIPTION.NONE" | translate }}</option>
                                <option *ngFor="let voucherTime of voucherTimes" [value]="voucherTime">
                                    {{ voucherTime }} {{ "MEMBERSUBSCRIPTION.TIMES" | translate }}
                                </option>
                            </select>
                            <span class="invalid-feedback">{{ "MEMBERSUBSCRIPTION.REQUIRED" | translate }}</span>
                        </div>
                        <span>&nbsp;&nbsp;&nbsp;{{ "MEMBERSUBSCRIPTION.OF" | translate }}&nbsp;&nbsp;&nbsp;</span>
                        <div style="width: 100%">
                            <angular2-multiselect
                                formControlName="user_serviceVoucher"
                                [(ngModel)]="selectedVoucher"
                                [data]="voucherList"
                                [settings]="dropdownVoucherSetting"
                                (onSelect)="onItemVoucherServiceSelect($event)"
                                (onDeSelect)="onItemVoucherServiceDeSelect($event)"
                                (onDeSelectAll)="onItemVoucherServiceDeSelect($event)"
                                [ngClass]="{
                  'is-invalid':
                    fVoucher.user_serviceVoucher?.touched &&
                    (fVoucher.user_serviceVoucher.errors ||
                      fVoucher.user_serviceVoucher.errors?.required)
                }"
                            >
                            </angular2-multiselect>
                            <span class="invalid-feedback">{{ "MEMBERSUBSCRIPTION.REQUIRED" | translate }}</span>
                        </div>
                        &nbsp;&nbsp;
                        <span *ngIf="voucherIsTurnOn" class="text-danger inline-text"
                            >&nbsp;&nbsp;{{ voucherRemain }}&nbsp;&nbsp;{{ "MEMBERSUBSCRIPTION.VOUCHER_CLIPS" |
                            translate }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label></label>
                    <div class="button-area">
                        <button type="submit" class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
                        <button class="btn btn-outline-secondary" [routerLink]="['/customers']">
                            {{ "FORM.CANCEL" | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>

<!-- Cancel modal -->
<div
    bsModal
    #cancelSubscriptionModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'MEMBERSUBSCRIPTION.CANCEL_MODAL.TITLE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'MEMBERSUBSCRIPTION.CANCEL_MODAL.DESCRIPTION'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="cancelSubscriptionModal.hide()"
                    [translate]="'MEMBERSUBSCRIPTION.CANCEL_MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="cancelSubscriptionModal.hide(); cancelSubscriptionInMember()"
                    [translate]="'MEMBERSUBSCRIPTION.CANCEL_MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>

<!-- Reset modal -->
<div
    bsModal
    #resetSubscriptionModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'MEMBERSUBSCRIPTION.RESET_MODAL.TITLE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'MEMBERSUBSCRIPTION.RESET_MODAL.DESCRIPTION'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="resetSubscriptionModal.hide()"
                    [translate]="'MEMBERSUBSCRIPTION.RESET_MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="resetSubscriptionModal.hide(); resetSubscriptionInMember()"
                    [translate]="'MEMBERSUBSCRIPTION.RESET_MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>

<!-- Reset voucher modal -->
<div
    bsModal
    #confirmResetVoucherModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'MEMBERSUBSCRIPTION.RESET_VOUCHER_MODAL.TITLE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'MEMBERSUBSCRIPTION.RESET_VOUCHER_MODAL.DESCRIPTION'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="confirmResetVoucherModal.hide()"
                    [translate]="'MEMBERSUBSCRIPTION.RESET_VOUCHER_MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="confirmResetVoucherModal.hide(); voucherLogModal.show()"
                    [translate]="'MEMBERSUBSCRIPTION.RESET_VOUCHER_MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>

<!-- Voucher log modal -->
<div
    bsModal
    #voucherLogModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" [translate]="'MEMBERSUBSCRIPTION.VOUCHER_LOG_MODAL.TITLE'"></h5>
            </div>
            <form class="form" [formGroup]="voucherLogForm">
                <div class="modal-body">
                    <p [translate]="'MEMBERSUBSCRIPTION.VOUCHER_LOG_MODAL.DESCRIPTION'"></p>
                    <textarea
                        type="text"
                        class="form-control"
                        formControlName="note"
                        style="min-height: 100px"
                        [ngClass]="{
              'is-invalid':
                fVoucherLog.note.touched &&
                (fVoucherLog.note.errors || fVoucherLog.note.errors?.required)
            }"
                        id="note"
                        name="note"
                    ></textarea>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="voucherLogModal.hide(); this.voucherLogForm.reset()"
                        [translate]="'MEMBERSUBSCRIPTION.VOUCHER_LOG_MODAL.CANCEL'"
                    ></button>
                    <button
                        type="button"
                        class="btn btn-primary"
                        [disabled]="voucherLogForm.invalid"
                        (click)="createVoucher(); voucherLogModal.hide()"
                        [translate]="'MEMBERSUBSCRIPTION.VOUCHER_LOG_MODAL.CONFIRM'"
                    ></button>
                </div>
            </form>
        </div>
    </div>
</div>
