<div class="card">
    <div class="form-option">
        <div class="search-filter-area">
            <div class="form-filter">
                <div class="input-group">
                    <angular2-multiselect
                        [data]="categoryList"
                        [(ngModel)]="selectedItems"
                        [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)"
                        (onDeSelect)="OnItemDeSelect($event)"
                        (onDeSelectAll)="onDeSelectAll($event)"
                        (onSelectAll)="onSelectAll($event)"
                        (onOpen)="onOpen($event)"
                        (onClose)="onClose($event)"
                    >
                    </angular2-multiselect>
                </div>
            </div>
        </div>
        <div class="button-area">
            <button class="btn btn-primary" [routerLink]="['/booking/services', 'create']">
                <i class="fad fa-plus"></i>
                {{ "BOOKING.SERVICE.NEW" | translate }}
            </button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th
                    class="sorting"
                    [class.asc]="paging.IsSorted && paging.Field == 'name'"
                    [class.desc]="!paging.IsSorted && paging.Field == 'name'"
                    (click)="isSorting('name')"
                >
                    {{ "BOOKING.SERVICE.TABLE_NAME" | translate }}
                </th>
                <th
                    class="sorting"
                    [class.asc]="paging.IsSorted && paging.Field == 'category'"
                    [class.desc]="!paging.IsSorted && paging.Field == 'category'"
                    (click)="isSorting('category')"
                >
                    {{ "BOOKING.SERVICE.TABLE_CATEGORY" | translate }}
                </th>
                <th
                    class="sorting"
                    [class.asc]="paging.IsSorted && paging.Field == 'duration'"
                    [class.desc]="!paging.IsSorted && paging.Field == 'duration'"
                    (click)="isSorting('duration')"
                >
                    {{ "BOOKING.SERVICE.TABLE_DURATION" | translate }}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="hasResult">
            <tr *ngFor="let service of serviceList.data">
                <td data-th="name">{{ service.name }}</td>
                <td data-th="category">{{ getCategoryTranslation(service.category) }}</td>
                <td data-th="duration">{{ getDurationTranslation(service.duration) }}</td>
                <td class="button-area">
                    <button
                        class="btn btn-outline-primary"
                        [routerLink]="['/booking/services/', service.uid, 'detail']"
                    >
                        <i class="fad fa-pencil"></i>
                    </button>
                    <button
                        class="btn btn-outline-danger"
                        (click)="dangerModal.show(); setServiceId(service.uid, service.category)"
                    >
                        <i class="fad fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-no-data" *ngIf="!hasResult">
        <span [translate]="'BOOKING.SERVICE.EMPTY_LIST'"></span>
    </div>
</div>
<div *ngIf="total > 0">
    <pagination
        [totalItems]="total"
        [(ngModel)]="currentPage"
        [customFirstTemplate]="firstTemplate"
        [customLastTemplate]="lastTemplate"
        [customPreviousTemplate]="prevTemplate"
        [customNextTemplate]="nextTemplate"
        (pageChanged)="pageChanged($event)"
    >
    </pagination>
</div>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class="fad fa-angle-right"></i>
</ng-template>
<ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class="fad fa-angle-double-right"></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class="fad fa-angle-left"></i>
</ng-template>
<ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class="fad fa-angle-double-left"></i>
</ng-template>
<!--Delete modal-->
<div
    bsModal
    #dangerModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'DELETE_MODAL.TITLE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'BOOKING.SERVICE.DELETE_SERVICE'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="dangerModal.hide()"
                    [translate]="'DELETE_MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="dangerModal.hide(); validateAndDeleteService()"
                    [translate]="'DELETE_MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>
