<h3 class="header">{{ "BOOKING.COACH_WORK_TIME.HEADER" | translate }}: {{ coachWorkTime?.name }}</h3>
<h4 class="header">{{ "BOOKING.COACH_WORK_TIME.DESCRIPTION" | translate }} - {{ currentDate }}</h4>

<div class="card">
    <form (ngSubmit)="onSubmit()" [formGroup]="coachWorkTimeForm">
        <div class="form-group">
            <label for="exampleInput3">{{ "BOOKING.COACH_WORK_TIME.ENABLE" | translate }}</label>
            <div>
                <label class="switch switch-label switch-pill switch-outline-primary-alt">
                    <input
                        checked=""
                        class="switch-input"
                        type="checkbox"
                        formControlName="enable"
                        (change)="switchChange($event.target.checked)"
                    />
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInput3">{{ "BOOKING.COACH_WORK_TIME.FROM" | translate }}</label>
            <div>
                <div class="inline-select">
                    <select class="form-control custom-select" formControlName="startTimeH">
                        <option value="{{ item.itemName }}" *ngFor="let item of hoursList; let i = index">
                            {{ item.itemName }}
                        </option>
                    </select>
                    <span>{{ "BOOKING.COACH_WORK_TIME.HOURS" | translate }}</span>
                    <select class="form-control custom-select" formControlName="startTimeM">
                        <option value="{{ item.itemName }}" *ngFor="let item of minuteList; let i = index">
                            {{ item.itemName }}
                        </option>
                    </select>
                    <span>{{ "BOOKING.COACH_WORK_TIME.MINS" | translate }}</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInput3">{{ "BOOKING.COACH_WORK_TIME.TO" | translate }}</label>
            <div>
                <div class="inline-select">
                    <select class="form-control custom-select" id="inlineFormCustomSelect" formControlName="endTimeH">
                        <option value="{{ item.itemName }}" *ngFor="let item of hoursList; let i = index">
                            {{ item.itemName }}
                        </option>
                    </select>
                    <span>{{ "BOOKING.COACH_WORK_TIME.HOURS" | translate }}</span>
                    <select class="form-control custom-select" id="inlineFormCustomSelect" formControlName="endTimeM">
                        <option value="{{ item.itemName }}" *ngFor="let item of minuteList; let i = index">
                            {{ item.itemName }}
                        </option>
                    </select>
                    <span>{{ "BOOKING.COACH_WORK_TIME.MINS" | translate }}</span>
                </div>
                <div style="display: block" class="invalid-feedback" *ngIf="!isValidTime">
                    {{ "BOOKING.CALENDAR_DETAIL.VALIDATION_SELECTED_COACH" | translate }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div class="button-area">
                <button type="submit" class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
                <button class="btn btn-outline-secondary" [routerLink]="['/booking']">
                    {{ "FORM.CANCEL" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
