<div class="pdf">
    <div class="header">
        <img src="assets/img/brand/logo.png" />
        <div class="title">
            <h2>{{ "PDF.PERSONAL_TRAINING.TITLE" | translate }}</h2>
            <h5>
                <!-- {{ "PDF.PERSONAL_TRAINING.COACH" | translate }} -->
                {{ personalCoachList?.coachName }}
            </h5>
        </div>
        <div class="contact">
            <span class="name">
                <!-- {{ "PDF.PERSONAL_TRAINING.CLIENT" | translate }} -->
                {{ personalCoachList?.memberName }}</span
            >
        </div>
    </div>
    <div class="body-fixed">
        <table class="table-content">
            <thead>
                <tr>
                    <th class="nowrap">{{ "PDF.PERSONAL_TRAINING.DATE" | translate }}</th>
                    <th>{{ "PDF.PERSONAL_TRAINING.EXERCISE" | translate }}</th>
                    <th>{{ "PDF.PERSONAL_TRAINING.NOTE" | translate }}</th>
                    <th class="narrow">{{ "PDF.PERSONAL_TRAINING.CRITERIA" | translate }}</th>
                    <th class="narrow">{{ "PDF.PERSONAL_TRAINING.NUMBER" | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personalCoach of personalCoachList?.data">
                    <td class="nowrap">{{ personalCoach.note_date | date : dateFormat : undefined : "da-DK" }}</td>
                    <td>{{ personalCoach.exercise }}</td>
                    <td>{{ personalCoach.note }}</td>
                    <td class="narrow">{{ personalCoach.criteria }}</td>
                    <td class="narrow">{{ personalCoach.amount }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
