<div class="card">
    <div class="form-option">
        <div class="button-area">
            <button class="btn btn-primary" [routerLink]="['/booking/subscriptions', 'create']">
                <i class="fad fa-plus"></i>
                {{ "BOOKING.SUBSCRIPTION.NEW" | translate }}
            </button>
        </div>
    </div>
    <table class="table table-hover">
        <thead *ngIf="!isEmpty">
            <tr>
                <th
                    class="sorting"
                    [class.asc]="paging.IsSorted && paging.Field == 'name'"
                    [class.desc]="!paging.IsSorted && paging.Field == 'name'"
                    (click)="isSorting('name')"
                >
                    {{ "BOOKING.SUBSCRIPTION.SUBSCRIPTION_LIST_NAME" | translate }}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subscription of subscriptionList">
                <td data-th="name">{{ subscription.name }}</td>
                <td class="button-area">
                    <button
                        class="btn btn-outline-primary"
                        [routerLink]="[
              '/booking/subscriptions/',
              subscription.uid,
              'detail'
            ]"
                    >
                        <i class="fad fa-pencil"></i>
                    </button>
                    <button
                        class="btn btn-outline-danger"
                        (click)="dangerModal.show(); setSubscriptionId(subscription.uid)"
                    >
                        <i class="fad fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-no-data" *ngIf="isEmpty">
        <span [translate]="'BOOKING.SERVICE.EMPTY_LIST'"></span>
    </div>
    <div *ngIf="total > 0">
        <pagination
            [boundaryLinks]="true"
            [totalItems]="total"
            [(ngModel)]="currentPage"
            [itemsPerPage]="itemPerPage"
            [maxSize]="maxSize"
            [customFirstTemplate]="firstTemplate"
            [customLastTemplate]="lastTemplate"
            [customPreviousTemplate]="prevTemplate"
            [customNextTemplate]="nextTemplate"
            (pageChanged)="pageChanged($event)"
        >
        </pagination>
    </div>
    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-right"></i>
    </ng-template>
    <ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-double-right"></i>
    </ng-template>
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-left"></i>
    </ng-template>
    <ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-double-left"></i>
    </ng-template>
</div>

<!--Delete modal-->
<div
    bsModal
    #dangerModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'MODAL.TITLE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'BOOKING.SUBSCRIPTION.DELETE_SUBSCRIPTION'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="dangerModal.hide()"
                    [translate]="'MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="dangerModal.hide(); validateAndDeleteSubscription()"
                    [translate]="'MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>
