<h3 class="header">{{ "IMPORTANT_INFORMATION.HEADER" | translate }}</h3>
<div class="card">
    <form (ngSubmit)="onSubmit()" [formGroup]="importantInformationForm">
        <div class="form-group rte-full">
            <ckeditor
                class="form-control"
                [ngClass]="{
          'is-invalid':
            f.monthly_challenge_content.touched &&
            (f.monthly_challenge_content.errors ||
              f.monthly_challenge_content.errors?.required)
        }"
                formControlName="monthly_challenge_content"
                name="monthly_challenge_content"
                [editor]="Editor"
                rows="6"
                [config]="{
          toolbar: [
            'heading',
            '|',
            'bold',
            'italic',
            'bulletedList',
            'numberedlist',
            'link',
            'insertTable'
          ]
        }"
            >
            </ckeditor>
            <div *ngIf="f.monthly_challenge_content.touched" class="invalid-feedback">
                <app-control-messages [control]="importantInformationForm.get('monthly_challenge_content')">
                </app-control-messages>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInput1">{{ "IMPORTANT_INFORMATION.BUTTON_TEXT" | translate }}</label>
            <div class="text-box-full">
                <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
          'is-invalid':
            f.button_text.touched &&
            (f.button_text.errors)
        }"
                    id="button_text"
                    name="button_text"
                    formControlName="button_text"
                    value="{{ importantInformationModel?.button_text }}"
                />
                <div *ngIf="f.button_text.touched" class="invalid-feedback">
                    <app-control-messages [control]="importantInformationForm.get('button_text')">
                    </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="button-area">
                <button class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
            </div>
        </div>
    </form>
</div>
