input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.form-group {
    * {
        &.focus,
        &:focus {
            box-shadow: none !important;
        }
    }
}

.form-control-plaintext {
    height: $input-height;
}

.input-group-text {
    background-color: transparent;
    z-index: 4;
    border: none;
}

.input-group {
    @include margin-res-bottom-form;
}

.form-inline {
    .form-group {
        &.-stack {
            width: 100%;
            max-width: 200px;
            margin-right: 14px;
            @include margin-res-bottom-form;
            > label {
                justify-content: flex-start;
                margin-bottom: $label-margin-bottom;
            }
            .form-control {
                width: 100%;
            }
        }
    }
}

.form-group {
    display: flex;
    @include margin-res-bottom-form;

    &.-stack {
        flex-wrap: wrap;
        > label {
            width: 100%;
        }
        > div {
            width: 100%;
            max-width: 100%;
        }
    }

    > label {
        width: 30%;
        max-width: 300px;
        padding-top: 8px;
        padding-right: 15px;
        @include label;
    }

    > div {
        width: 70%;
        display: block;
        max-width: 800px;

        &.short {
            max-width: 400px;
        }

        > .form-control {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .input-group {
        margin-bottom: 0;

        > .form-control:not(:last-child) {
            border-radius: $input-border-radius;
        }

        .custom-select {
            @include btn-input-group;
            width: auto;
            padding-left: 5px;
            border-left: 1px solid $border-color;
        }

        .input-group-append {
            @include btn-input-group;

            > .input-group-text {
                border-radius: 0 $border-radius $border-radius 0;
                cursor: auto;
            }
        }

        .btn {
            box-shadow: none;
            border: none;
            border-left: 1px solid $border-color;
        }

        .date-picker {
            ~ .btn {
                border: 1px solid;
                margin-left: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .custom-control {
        padding-bottom: 0;
        margin-bottom: 1rem;

        &:first-child {
            padding-top: 0.5rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .button-area {
        .btn {
            min-width: 120px;
            margin-bottom: 5px;
        }
    }
}

textarea {
    &.auto-size {
        .switch-label {
            min-height: 80px;
        }
    }

    .switch-slider {
        &:after {
            text-transform: unset;
            font-weight: 400;
            text-align: left;
        }
    }

    .switch-input {
        &:checked {
            ~ .switch-slider {
                &:after {
                    left: 5px;
                }
            }
        }
    }
}

@include media-breakpoint-down($breakpoint-mobile-down) {
    .form-group {
        display: block;

        > label {
            width: 100%;
            max-width: unset;
            padding-right: 0;
        }

        > div {
            width: 100%;
            max-width: unset;

            &.short {
                max-width: unset;
            }
        }

        .button-area {
            display: flex;

            .btn {
                width: 50%;
                margin-bottom: 0;
            }
        }
    }
}
