<h3 class="header" *ngIf="!id && isClientType">
    {{ "BOOKING.CALENDAR_DETAIL.NEW_CLIENT_HEADER" | translate }} ({{ coachName }})
</h3>
<h3 class="header" *ngIf="!id && !isClientType">
    {{ "BOOKING.CALENDAR_DETAIL.NEW_INTERNAL_HEADER" | translate }} ({{ coachName }})
</h3>
<h3 class="header" *ngIf="id && isClientType">
    <a [routerLink]="['/customers', this.memberId, 'detail']">{{ memberName }}</a>
    ({{ coachName }})
</h3>
<h3 class="header" *ngIf="id && !isClientType">{{ titleInternal }} ({{ coachName }})</h3>
<h4 class="header">{{ currentDate }} {{ startTimeH }}:{{ startTimeM }}</h4>
<div class="card">
    <form (ngSubmit)="onSubmit()" [formGroup]="calendarDetailForm">
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.APPOINTMENT_TYPE_TITLE" | translate }}</label>
            <div class="short">
                <angular2-multiselect
                    formControlName="type"
                    [ngClass]="{
            'is-invalid':
              calendarDetailPage.type?.touched &&
              (calendarDetailPage.type.errors ||
                calendarDetailPage.type.errors?.required)
          }"
                    [(ngModel)]="selectedAppointment"
                    [data]="dropdownAppointmentTypeList"
                    [settings]="dropdownTypeSettings"
                    (onSelect)="onBookingTypeSelect($event)"
                >
                </angular2-multiselect>
                <div *ngIf="calendarDetailPage.type?.touched" class="invalid-feedback">
                    <app-control-messages [control]="calendarDetailForm.get('type')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="!isClientType">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.INCLUDE_PERCENTAGE" | translate }}</label>
            <div>
                <label class="switch switch-label switch-pill switch-outline-primary-alt">
                    <input
                        checked=""
                        class="switch-input"
                        type="checkbox"
                        formControlName="include_percentage"
                        [(ngModel)]="includePercentage"
                    />
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
            </div>
        </div>
        <div class="form-group" *ngIf="!isClientType">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.DROPDOWN_PLACEHOLDER_COACH" | translate }}</label>
            <div>
                <div class="drag-n-drop">
                    <div class="drag-n-drop-warp">
                        <div class="drag-n-drop-area">
                            <div class="drag-n-drop-header">
                                <div class="form-search">
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            formControlName="keyword"
                                            placeholder="{{ 'LIST.SEARCH' | translate }}"
                                            aria-label="Recipient's username"
                                            aria-describedby="basic-addon2"
                                            (ngModelChange)="searchCoach()"
                                        />
                                        <div class="input-group-append">
                                            <button class="btn" type="button" (click)="searchCoach()">
                                                <i class="fad fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <perfect-scrollbar class="drag-n-drop-body" [config]="config">
                                <div
                                    #selectAll
                                    class="drag-n-drop-header"
                                    style="cursor: pointer"
                                    (click)="selectedAll()"
                                    *ngIf="coachList.length > 0"
                                >
                                    <span>{{ "BOOKING.CALENDAR_DETAIL.ALL_COACHES" | translate }}</span>
                                </div>
                                <div class="list-group drag-n-drop-body" dragula="ITEMS" [(dragulaModel)]="coachList">
                                    <ng-container *ngFor="let coach of coachList">
                                        <div
                                            class="list-group-item group-handle"
                                            [innerHtml]="coach?.itemName"
                                            [class.d-none]="!isInResult(coach)"
                                        ></div>
                                    </ng-container>
                                </div>
                            </perfect-scrollbar>
                        </div>
                    </div>
                    <div class="drag-n-drop-warp">
                        <div
                            class="drag-n-drop-area {{
                !hasSelectedCoachDragAndDrop &&
                selectedCoachDragAndDrop.length === 0
                  ? 'is-invalid'
                  : ''
              }}"
                        >
                            <div class="drag-n-drop-header">
                                <span>{{ "BOOKING.CALENDAR_DETAIL.RECEIVERS_LIST_COACH" | translate }}</span>
                            </div>
                            <perfect-scrollbar class="drag-n-drop-body">
                                <div
                                    class="drag-n-drop-header"
                                    style="cursor: pointer"
                                    (click)="deleteAll()"
                                    *ngIf="selectedCoachDragAndDrop.length > 0"
                                >
                                    <span>{{ "BOOKING.CALENDAR_DETAIL.CLEAR_LIST_INTERNAL" | translate }}</span>
                                </div>
                                <div
                                    class="list-group drag-n-drop-body"
                                    dragula="ITEMS"
                                    [(dragulaModel)]="selectedCoachDragAndDrop"
                                >
                                    <ng-container *ngFor="let coach of selectedCoachDragAndDrop">
                                        <div class="list-group-item group-handle" [innerHtml]="coach?.itemName"></div>
                                    </ng-container>
                                </div>
                            </perfect-scrollbar>
                        </div>
                        <div
                            style="display: block"
                            class="invalid-feedback"
                            *ngIf="
                !hasSelectedCoachDragAndDrop &&
                selectedCoachDragAndDrop.length === 0
              "
                        >
                            {{ "GENERAL_NOTIFICATION.VALIDATION.DRAG_AND_DROP" | translate }}
                        </div>
                    </div>
                    <div
                        style="display: block"
                        class="invalid-feedback"
                        *ngIf="
              !hasSelectedCoachDragAndDrop &&
              selectedCoachDragAndDrop.length === 0
            "
                    >
                        {{ "GENERAL_NOTIFICATION.VALIDATION.DRAG_AND_DROP" | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group required-form" *ngIf="isClientType">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.CHOOSE_COACH" | translate }}</label>
            <div class="short">
                <angular2-multiselect
                    formControlName="coach"
                    [ngClass]="{
            'is-invalid':
              calendarDetailPage.coach?.touched &&
              (calendarDetailPage.coach.errors ||
                calendarDetailPage.coach.errors?.required)
          }"
                    [(ngModel)]="selectedCoach"
                    [data]="dropdownCoachList"
                    [settings]="dropdownCoachSettings"
                >
                </angular2-multiselect>
                <div *ngIf="calendarDetailPage.coach?.touched" class="invalid-feedback">
                    <app-control-messages [control]="calendarDetailForm.get('coach')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group required-form" *ngIf="isClientType">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.CHOOSE_CLIENT" | translate }}</label>
            <div class="short">
                <angular2-multiselect
                    formControlName="client"
                    [ngClass]="{
            'is-invalid':
              calendarDetailPage.client?.touched &&
              (calendarDetailPage.client.errors ||
                calendarDetailPage.client.errors?.required)
          }"
                    [(ngModel)]="selectedClient"
                    [data]="dropdownClientList"
                    [settings]="dropdownClientSettings"
                    (onSelect)="onClientSelect($event)"
                    (onDeSelect)="OnClientDeSelect($event)"
                    (onDeSelectAll)="onDeClientSelectAll($event)"
                >
                </angular2-multiselect>
                <div *ngIf="calendarDetailPage.client?.touched" class="invalid-feedback">
                    <app-control-messages [control]="calendarDetailForm.get('client')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group required-form" *ngIf="isClientType">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.CHOOSE_SERVICE" | translate }}</label>
            <div class="short">
                <angular2-multiselect
                    [data]="dropdownServiceList"
                    formControlName="service"
                    *ngIf="selectedClient.length > 0"
                    [(ngModel)]="selectedService"
                    [settings]="dropdownServiceFirstSettings"
                    [ngClass]="{
            'is-invalid':
              calendarDetailPage.service?.touched &&
              (calendarDetailPage.service.errors ||
                calendarDetailPage.service.errors?.required)
          }"
                    (onSelect)="onServiceSelect()"
                    (onDeSelect)="onServiceDeSelect()"
                    (onDeSelectAll)="onServiceDeSelectAll()"
                >
                </angular2-multiselect>
                <angular2-multiselect
                    [data]="dropdownServiceList"
                    formControlName="service"
                    *ngIf="selectedClient.length == 0"
                    [(ngModel)]="selectedService"
                    [settings]="dropdownServiceSecondSettings"
                    [ngClass]="{
            'is-invalid':
              isServiceFound &&
              calendarDetailPage.service?.touched &&
              (calendarDetailPage.service.errors ||
                calendarDetailPage.service.errors?.required)
          }"
                    (onSelect)="onServiceSelect()"
                    (onDeSelect)="onServiceDeSelect()"
                    (onDeSelectAll)="onServiceDeSelectAll()"
                >
                </angular2-multiselect>
                <div *ngIf="calendarDetailPage.service?.touched" class="invalid-feedback">
                    <app-control-messages [control]="calendarDetailForm.get('service')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.DATE" | translate }}</label>
            <div class="short">
                <input
                    type="text"
                    placeholder="Datepicker"
                    class="form-control date-picker"
                    bsDatepicker
                    formControlName="date"
                    [ngModel]="date"
                    [bsConfig]="{
            isAnimated: true,
            dateInputFormat: 'DD/MM/YYYY'
          }"
                    (bsValueChange)="onValueChange($event)"
                    [attr.disabled]="
            isBookingRepeat && isEditAll == true ? '' : undefined
          "
                    readonly
                />
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.FROM" | translate }}</label>
            <fieldset [disabled]="!isServiceFound">
                <div class="inline-select">
                    <select
                        class="form-control custom-select"
                        id="inlineFormCustomSelect"
                        formControlName="startTimeH"
                        (ngModelChange)="calculateEndTime()"
                    >
                        <option value="{{ item.itemName }}" *ngFor="let item of hoursList; let i = index">
                            {{ item.itemName }}
                        </option>
                    </select>
                    <span>{{ "BOOKING.CALENDAR_DETAIL.HOURS" | translate }}</span>
                    <select
                        class="form-control custom-select"
                        id="inlineFormCustomSelect"
                        formControlName="startTimeM"
                        (ngModelChange)="calculateEndTime()"
                    >
                        <option value="{{ item.itemName }}" *ngFor="let item of minuteList; let i = index">
                            {{ item.itemName }}
                        </option>
                    </select>
                    <span>{{ "BOOKING.CALENDAR_DETAIL.MINUTES" | translate }}</span>
                </div>
            </fieldset>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.TO" | translate }}</label>
            <fieldset [disabled]="!isServiceFound">
                <div class="inline-select">
                    <select class="form-control custom-select" id="inlineFormCustomSelect" formControlName="endTimeH">
                        <option value="{{ item.itemName }}" *ngFor="let item of hoursList; let i = index">
                            {{ item.itemName }}
                        </option>
                    </select>
                    <span>{{ "BOOKING.CALENDAR_DETAIL.HOURS" | translate }}</span>
                    <select class="form-control custom-select" id="inlineFormCustomSelect" formControlName="endTimeM">
                        <option value="{{ item.itemName }}" *ngFor="let item of minuteList; let i = index">
                            {{ item.itemName }}
                        </option>
                    </select>
                    <span>{{ "BOOKING.CALENDAR_DETAIL.MINUTES" | translate }}</span>
                </div>
                <div style="display: block" class="invalid-feedback" *ngIf="isInvalidTime">
                    {{ "BOOKING.CALENDAR_DETAIL.VALIDATION_SELECTED_TIME" | translate }}
                </div>
                <div style="display: block" class="invalid-feedback" *ngIf="isTimeOver">
                    {{ "BOOKING.CALENDAR_DETAIL.VALIDATION_SELECTED_OVER_TIME" | translate }}
                </div>
            </fieldset>
        </div>
        <div class="form-group" *ngIf="isClientType">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.SEND_NOTIFICATION" | translate }}</label>
            <div>
                <label class="switch switch-label switch-pill switch-outline-primary-alt">
                    <input checked="" class="switch-input" type="checkbox" formControlName="is_send_notification" />
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
            </div>
        </div>
        <div class="form-group {{ internalRequireField() }}" *ngIf="!isClientType">
            <label for="exampleInput1">{{ "BOOKING.CALENDAR_DETAIL.HEADING_INTERNAL" | translate }}</label>
            <div>
                <input
                    type="text"
                    [ngClass]="{
            'is-invalid':
              calendarDetailPage.title?.touched &&
              (calendarDetailPage.title.errors ||
                calendarDetailPage.title.errors?.required)
          }"
                    class="form-control"
                    id="exampleInput1"
                    formControlName="title"
                    name="title"
                />
                <div *ngIf="calendarDetailPage.title?.touched" class="invalid-feedback">
                    <app-control-messages [control]="calendarDetailForm.get('title')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.INTERNAL_NOTE" | translate }}</label>
            <div>
                <textarea
                    class="form-control"
                    placeholder="{{
            'BOOKING.CALENDAR_DETAIL.INTERNAL_NOTE_PLACEHOLDER' | translate
          }}"
                    style="min-height: 150px"
                    formControlName="note"
                    name="note"
                ></textarea>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.CHOOSE_REPETITION" | translate }}</label>
            <div class="short">
                <angular2-multiselect
                    [(ngModel)]="selectedRepetition"
                    [ngClass]="{
            'is-invalid':
              calendarDetailPage.repetation?.touched &&
              (calendarDetailPage.repetation.errors ||
                calendarDetailPage.repetation.errors?.required)
          }"
                    formControlName="repetation"
                    [data]="dropdownRepetitionList"
                    [settings]="dropdownRepetitionSettings"
                    (onSelect)="onRepetitionSelect($event)"
                >
                </angular2-multiselect>
                <div *ngIf="calendarDetailPage.repetation?.touched" class="invalid-feedback">
                    <app-control-messages [control]="calendarDetailForm.get('repetation')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="isSelectRepeat">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.CHOOSE_END_DATE" | translate }}</label>
            <div class="short">
                <input
                    type="text"
                    placeholder="Datepicker"
                    class="form-control date-picker"
                    [ngClass]="{ 'is-invalid': isInvalidDateRepeat }"
                    bsDatepicker
                    [minDate]="minDateRepeat"
                    formControlName="end_date_repeat"
                    [ngModel]="endDateRepeat"
                    [bsConfig]="{
            isAnimated: true,
            dateInputFormat: 'DD/MM/YYYY'
          }"
                    [attr.disabled]="isDisabled && isEditAll == true ? '' : undefined"
                    readonly
                />
                <div *ngIf="calendarDetailPage.end_date_repeat?.touched" class="invalid-feedback">
                    {{ "BOOKING.CALENDAR_DETAIL.VALIDATION_SELECTED_COACH" | translate }}
                </div>
            </div>
        </div>
        <div class="form-group {{ internalRequireField() }}" *ngIf="!isClientType">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.CHOOSE_COLOR" | translate }}</label>
            <div class="short">
                <angular2-multiselect
                    formControlName="color"
                    [ngClass]="{
            'is-invalid':
              calendarDetailPage.color?.touched &&
              (calendarDetailPage.color.errors ||
                calendarDetailPage.color.errors?.required)
          }"
                    [(ngModel)]="selectedColor"
                    [data]="dropdownColorList"
                    [settings]="dropdownColorSettings"
                >
                </angular2-multiselect>
                <div *ngIf="calendarDetailPage.color?.touched" class="invalid-feedback">
                    <app-control-messages [control]="calendarDetailForm.get('color')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label></label>
            <div class="button-area">
                <button [disabled]="isInvalidTime===true" class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
                <button type="button" class="btn btn-outline-secondary" [routerLink]="['/booking']">
                    {{ "FORM.CANCEL" | translate }}
                </button>
                <button
                    [disabled]="isInvalidTime===true"
                    type="button"
                    *ngIf="id"
                    class="btn btn-danger"
                    (click)="cancelBookingModal.show()"
                >
                    {{ "FORM.DELETE" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>

<!--Modal confirm edit booking series-->
<div
    bsModal
    #confirmEditAppointmentModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
    style="z-index: 100000"
    [config]="{ backdrop: 'static', keyboard: false }"
>
    <div class="modal-dialog modal-dialog-centered modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.TITLE_CONFIRM'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.DESCRIPTION_EDIT'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="confirmEdit(false); confirmEditAppointmentModal.hide()"
                    [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.SELECT_ONE_APPOINTMENT'"
                ></button>
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="confirmEdit(true); confirmEditAppointmentModal.hide()"
                    [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.SELECT_ALL_APPOINTMENT'"
                ></button>
            </div>
        </div>
    </div>
</div>

<!--Modal validate limit is over subscription-->
<div
    bsModal
    #confirmCreateBookingModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
    style="z-index: 100000"
    [config]="{ backdrop: 'static', keyboard: false }"
>
    <div class="modal-dialog modal-dialog-centered modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.TITLE_VALIDATE_LIMIT'"></div>
            </div>
            <div class="modal-body">
                <p
                    [translate]="
            'BOOKING.CALENDAR_DETAIL.MODAL.DESCRIPTION_VALIDATE_LIMIT'
          "
                ></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="confirmCreateBookingModal.hide()"
                    [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.CANCEL_WEEKS_BUTTON'"
                ></button>
                <button
                    type="button"
                    class="btn btn-info"
                    *ngIf="hasShowSkipBtn"
                    (click)="confirmCreate('skip'); confirmCreateBookingModal.hide()"
                    [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.SKIP_WEEKS_BUTTON'"
                ></button>
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="confirmCreate('confirm'); confirmCreateBookingModal.hide()"
                    [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.CONFIRM_WEEKS_BUTTON'"
                ></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal validate coach has booked-->
<div
    bsModal
    #confirmCoachBookedModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
    style="z-index: 100000"
>
    <div class="modal-dialog modal-dialog-centered modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.TITLE_VALIDATE_COACH'"></div>
            </div>
            <div class="modal-body">
                <p
                    [translate]="
            'BOOKING.CALENDAR_DETAIL.MODAL.DESCRIPTION_VALIDATE_COACH'
          "
                ></p>
                <ul>
                    <li
                        [translate]="
              'BOOKING.CALENDAR_DETAIL.MODAL.DESCRIPTION_VALIDATE_COACH_LIST.ITEM_1'
            "
                    ></li>
                    <li
                        [translate]="
              'BOOKING.CALENDAR_DETAIL.MODAL.DESCRIPTION_VALIDATE_COACH_LIST.ITEM_2'
            "
                    ></li>
                    <li
                        [translate]="
              'BOOKING.CALENDAR_DETAIL.MODAL.DESCRIPTION_VALIDATE_COACH_LIST.ITEM_3'
            "
                    ></li>
                    <li
                        [translate]="
              'BOOKING.CALENDAR_DETAIL.MODAL.DESCRIPTION_VALIDATE_COACH_LIST.ITEM_4'
            "
                    ></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="confirmCoachBookedModal.hide()"
                    [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.CANCEL_COACH_BUTTON'"
                ></button>
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="changeCoachBooked(); confirmCoachBookedModal.hide()"
                    [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.CONFIRM_COACH_BUTTON'"
                ></button>
            </div>
        </div>
    </div>
</div>

<!--Delete modal-->
<div
    bsModal
    #cancelBookingModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.TITLE_DELETE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.DESCRIPTION_DELETE'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="cancelBookingModal.hide()"
                    [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.CANCEL_BUTTON'"
                ></button>
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="cancelBooking(); cancelBookingModal.hide()"
                    [translate]="'BOOKING.CALENDAR_DETAIL.MODAL.CONFIRM_BUTTON'"
                ></button>
            </div>
        </div>
    </div>
</div>
