<h3 class="header" *ngIf="!id">{{ "FOOD_DETAIL.NEW_FOOD" | translate }}</h3>
<h3 class="header" *ngIf="id">{{ "FOOD_DETAIL.EDIT_FOOD" | translate }}</h3>
<div class="card">
    <form (ngSubmit)="onSubmit()" [formGroup]="foodDetailForm">
        <div class="form-group required-form">
            <label for="exampleInput1">{{ "FOOD_DETAIL.NAME" | translate }}</label>
            <div>
                <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
            'is-invalid':
              f.name.touched && (f.name.errors || f.name.errors?.required)
          }"
                    id="name"
                    name="name"
                    formControlName="name"
                    value="{{ foodDetail?.name }}"
                />
                <div *ngIf="f.name.touched" class="invalid-feedback">
                    <app-control-messages [control]="foodDetailForm.get('name')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput1">{{ "FOOD_DETAIL.CATEGORY" | translate }}</label>
            <div>
                <input
                    type="text"
                    class="form-control"
                    id="category"
                    name="category"
                    formControlName="category"
                    value="{{ foodDetail?.category }}"
                    [ngClass]="{
            'is-invalid':
              f.category.touched &&
              (f.category.errors || f.category.errors?.required)
          }"
                />
                <div *ngIf="f.category.touched" class="invalid-feedback">
                    <app-control-messages [control]="foodDetailForm.get('category')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInput3">{{ "FOOD_DETAIL.IS_SHOW_FOOD_IN_DIETPLAN" | translate }}</label>
            <div>
                <label class="switch switch-label switch-pill switch-outline-primary-alt">
                    <input class="switch-input" type="checkbox" formControlName="is_turn_on_show_food" />
                    <span
                        class="switch-slider"
                        attr.data-checked="{{ 'FORM.ON' | translate }}"
                        attr.data-unchecked="{{ 'FORM.OFF' | translate }}"
                    ></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="form-col-form-label" for="inputError1">{{ "FOOD_DETAIL.UPLOAD" | translate }}</label>
            <div class="col">
                <div style="padding-bottom: 10px; max-width: 300px" *ngIf="!this.foodDetail?.picture?.url">
                    <ngx-dropzone
                        (change)="onImageFoodSelected($event)"
                        [expandable]="true"
                        [accept]="'image/png,image/jpeg,image/jpg'"
                        [multiple]="false"
                        [maxFileSize]="1000000"
                    >
                        <ngx-dropzone-label> {{ "FOOD_DETAIL.DROP_IMAGE_TEXT" | translate }} </ngx-dropzone-label>
                        <ngx-dropzone-image-preview
                            ngProjectAs="ngx-dropzone-preview"
                            *ngFor="let food of foodImage"
                            [file]="food"
                            [removable]="true"
                            (removed)="onRemoveFoodSelected(food)"
                        >
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div class="img-view" *ngIf="this.foodDetail?.picture?.url">
                    <img class="profile-img" src="{{ this.name_image }}" alt="" (error)="setNoImage($event)" />
                    <button type="button" class="btn btn-danger" (click)="removeFoodImage()">
                        <i class="fad fa-trash"></i>
                    </button>
                </div>
                <div *ngIf="imageErrorSize" class="invalid-feedback" style="display: block">
                    <div>{{ "FOOD_DETAIL.ERROR_MESSAGE_SIZE_IMAGE" | translate }}</div>
                </div>
                <i [translate]="'FOOD_DETAIL.HELP_TEXT'"></i>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "FOODS.LIST_KCAL" | translate }}</label>
            <div class="short">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="{
              'is-invalid':
                f.kcal.touched && (f.kcal.errors || f.kcal.errors?.required)
            }"
                        id="kcal"
                        name="kcal"
                        max="9999,99"
                        formControlName="kcal"
                        value="{{ foodDetail?.kcal }}"
                    />
                    <div *ngIf="f.kcal.touched" class="invalid-feedback">
                        <app-control-messages [control]="foodDetailForm.get('kcal')"> </app-control-messages>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "FOODS.LIST_CARBS" | translate }}</label>
            <div class="short">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="{
              'is-invalid':
                f.carbs.touched && (f.carbs.errors || f.carbs.errors?.required)
            }"
                        id="carbs"
                        name="carbs"
                        formControlName="carbs"
                        value="{{ foodDetail?.carbs }}"
                    />
                    <div *ngIf="f.carbs.touched" class="invalid-feedback">
                        <app-control-messages [control]="foodDetailForm.get('carbs')"> </app-control-messages>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">gr.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "FOODS.LIST_PROTEIN" | translate }}</label>
            <div class="short">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="{
              'is-invalid':
                f.protein.touched &&
                (f.protein.errors || f.protein.errors?.required)
            }"
                        id="protein"
                        name="protein"
                        formControlName="protein"
                        value="{{ foodDetail?.protein }}"
                    />
                    <div *ngIf="f.protein.touched" class="invalid-feedback">
                        <app-control-messages [control]="foodDetailForm.get('protein')"> </app-control-messages>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">gr.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "FOODS.LIST_FAT" | translate }}</label>
            <div class="short">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="{
              'is-invalid':
                f.fat.touched && (f.fat.errors || f.fat.errors?.required)
            }"
                        id="fat"
                        name="fat"
                        formControlName="fat"
                        value="{{ foodDetail?.fat }}"
                    />
                    <div *ngIf="f.fat.touched" class="invalid-feedback">
                        <app-control-messages [control]="foodDetailForm.get('fat')"> </app-control-messages>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">gr.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "FOODS.LIST_KOST" | translate }}</label>
            <div class="short">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="{
              'is-invalid':
                f.fiber.touched && (f.fiber.errors || f.fiber.errors?.required)
            }"
                        id="fiber"
                        name="fiber"
                        formControlName="fiber"
                        value="{{ foodDetail?.fiber }}"
                    />
                    <div *ngIf="f.fiber.touched" class="invalid-feedback">
                        <app-control-messages [control]="foodDetailForm.get('fiber')"> </app-control-messages>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">gr.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "FOODS.LIST_ENERGY" | translate }}</label>
            <div class="short">
                <angular2-multiselect
                    [data]="dropdownList"
                    id="dropEnergy"
                    name="dropEnergy"
                    formControlName="dropEnergy"
                    [ngClass]="{
            'is-invalid':
              f.dropEnergy.touched &&
              (f.dropEnergy.errors || f.dropEnergy.errors?.required)
          }"
                    [settings]="dropdownSettings"
                    (onClose)="modelChanged()"
                    (onDeSelectAll)="onDeSelectAll()"
                    [(ngModel)]="selectedEnergy"
                >
                </angular2-multiselect>
                <div *ngIf="f.dropEnergy.touched" class="invalid-feedback">
                    <app-control-messages [control]="foodDetailForm.get('dropEnergy')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group drag-n-drop-multi">
            <label for="exampleInput3"
                >{{ "FOODS.LIST_ALTERNATIVE" | translate }}<span class="form-text text-muted font-weight-normal"
                    >{{ "FOODS.LIST_ALTERNATIVE_SUB_TEXT" | translate }}</span
                ></label
            >
            <div>
                <div class="drag-n-drop">
                    <div class="drag-n-drop-col">
                        <div class="drag-n-drop-warp">
                            <div class="drag-n-drop-area">
                                <div class="drag-n-drop-header">
                                    <div class="form-search">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                                formControlName="foodAlternative"
                                                placeholder="{{ 'LIST.SEARCH' | translate }}"
                                                aria-label="Recipient's username"
                                                aria-describedby="basic-addon2"
                                                (ngModelChange)="searchFood('alternative')"
                                            />
                                            <div class="input-group-append">
                                                <button class="btn" type="button" (click)="searchFood('alternative')">
                                                    <i class="fad fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <perfect-scrollbar class="drag-n-drop-body" [config]="config">
                                    <div
                                        class="list-group drag-n-drop-body"
                                        dragula="ITEMS"
                                        id="food"
                                        [(dragulaModel)]="foodList"
                                    >
                                        <ng-container *ngFor="let food of foodList">
                                            <div
                                                class="list-group-item group-handle"
                                                [innerHtml]="
                        food?.id +
                        ' ' +
                        food?.itemName +
                        ' (' +
                        food?.kcal +
                        ' kcal)'
                      "
                                                [class.d-none]="!isInResult(food)"
                                            ></div>
                                        </ng-container>
                                    </div>
                                </perfect-scrollbar>
                            </div>
                            <div class="arrow-exchange-down"></div>
                        </div>
                        <div class="drag-n-drop-warp">
                            <div class="drag-n-drop-area">
                                <div class="drag-n-drop-header">
                                    <span>{{ "FOODS.LIST_ALTERNATIVE_DRAG_AND_DROP" | translate }}</span>
                                </div>
                                <div
                                    class="drag-n-drop-header"
                                    style="cursor: pointer"
                                    (click)="deleteAll('alternative')"
                                    *ngIf="selectedAlternativeFood.length > 0"
                                >
                                    <span>{{ "FOODS.DELETE_ALL_FOODS" | translate }}</span>
                                </div>
                                <perfect-scrollbar class="drag-n-drop-body" [config]="config">
                                    <div
                                        class="list-group drag-n-drop-body"
                                        dragula="ITEMS"
                                        id="alternative"
                                        [(dragulaModel)]="selectedAlternativeFood"
                                    >
                                        <div
                                            class="list-group-item group-handle"
                                            *ngFor="let food of selectedAlternativeFood"
                                            [innerHtml]="
                      food?.id +
                      ' ' +
                      food?.itemName +
                      ' (' +
                      food?.kcal +
                      ' kcal)'
                    "
                                        ></div>
                                    </div>
                                </perfect-scrollbar>
                            </div>
                            <div class="arrow-exchange-down"></div>
                        </div>
                    </div>
                    <div class="drag-n-drop-col">
                        <div class="drag-n-drop-warp">
                            <div class="drag-n-drop-area">
                                <div class="drag-n-drop-header">
                                    <span>{{ "FOODS.LIST_RECIPES_DRAG_AND_DROP" | translate }}</span>
                                </div>
                                <div
                                    class="drag-n-drop-header"
                                    style="cursor: pointer"
                                    (click)="deleteAll('recipes')"
                                    *ngIf="selectedRecipesFood.length > 0"
                                >
                                    <span>{{ "FOODS.DELETE_ALL_FOODS" | translate }}</span>
                                </div>
                                <perfect-scrollbar class="drag-n-drop-body" [config]="config">
                                    <div
                                        class="list-group drag-n-drop-body"
                                        dragula="ITEMS"
                                        id="recipes"
                                        [(dragulaModel)]="selectedRecipesFood"
                                    >
                                        <div
                                            class="list-group-item group-handle"
                                            *ngFor="let food of selectedRecipesFood"
                                            [innerHtml]="
                      food?.id +
                      ' ' +
                      food?.itemName +
                      ' (' +
                      food?.kcal +
                      ' kcal)'
                    "
                                        ></div>
                                    </div>
                                </perfect-scrollbar>
                            </div>
                        </div>
                        <div class="drag-n-drop-warp">
                            <div class="drag-n-drop-area">
                                <div class="drag-n-drop-header">
                                    <span>{{ "FOODS.LIST_VEGAN_DRAG_AND_DROP" | translate }}</span>
                                </div>
                                <div
                                    class="drag-n-drop-header"
                                    style="cursor: pointer"
                                    (click)="deleteAll('vegan')"
                                    *ngIf="selectedVeganFood.length > 0"
                                >
                                    <span>{{ "FOODS.DELETE_ALL_FOODS" | translate }}</span>
                                </div>
                                <perfect-scrollbar class="drag-n-drop-body" [config]="config">
                                    <div
                                        class="list-group drag-n-drop-body"
                                        dragula="ITEMS"
                                        id="vegan"
                                        [(dragulaModel)]="selectedVeganFood"
                                    >
                                        <div
                                            class="list-group-item group-handle"
                                            *ngFor="let food of selectedVeganFood"
                                            [innerHtml]="
                      food?.id +
                      ' ' +
                      food?.itemName +
                      ' (' +
                      food?.kcal +
                      ' kcal)'
                    "
                                        ></div>
                                    </div>
                                </perfect-scrollbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInput3">{{ "FOODS.LIST_NOTE" | translate }}</label>
            <div>
                <textarea
                    class="form-control"
                    id="note"
                    name="note"
                    formControlName="note"
                    value="{{ foodDetail?.note }}"
                    style="min-height: 100px"
                >
                </textarea>
            </div>
        </div>
        <div class="form-edit">
            <div class="form-group">
                <label for="exampleInput3">{{ "FOOD_DETAIL.IS_SHOW_ALTERNATIVE_AMOUNT" | translate }}</label>
                <div>
                    <label class="switch switch-label switch-pill switch-outline-primary-alt">
                        <input
                            #isTurnOn
                            checked=""
                            class="switch-input"
                            type="checkbox"
                            id="alt_amount_toggle"
                            name="alt_amount_toggle"
                            formControlName="alt_amount_toggle"
                            (ngModelChange)="onModelAltAmountToggleChange($event)"
                        />
                        <span
                            class="switch-slider"
                            attr.data-checked="{{ 'FORM.ON' | translate }}"
                            attr.data-unchecked="{{ 'FORM.OFF' | translate }}"
                        ></span>
                    </label>
                </div>
            </div>
            <div class="form-group {{ getRequiredClass('') }}">
                <label for="gram">{{ "FOODS.LIST_ALTERNATIVE_AMOUNT_GRAM" | translate }}</label>
                <div class="short">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            [ngClass]="{
                'is-invalid':
                  isTurnOn &&
                  f.alt_amount_gram.touched &&
                  (f.alt_amount_gram.errors ||
                    f.alt_amount_gram.errors?.required)
              }"
                            id="alt_amount_gram"
                            name="alt_amount_gram"
                            formControlName="alt_amount_gram"
                            value="{{ foodDetail?.alt_amount_gram }}"
                            (ngModelChange)="onModelAltAmountGramChange()"
                            (keypress)="keyPressNumbers($event)"
                        />
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">gr.</span>
                        </div>
                        <div *ngIf="f.alt_amount_gram.touched" class="invalid-feedback">
                            <app-control-messages [control]="foodDetailForm.get('alt_amount_gram')">
                            </app-control-messages>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group {{ getRequiredClass('') }}">
                <label>{{ "FOODS.LIST_ALTERNATIVE_AMOUNT_UNIT" | translate }}</label>
                <div class="short">
                    <angular2-multiselect
                        [ngClass]="{
              'is-invalid':
                (isTurnOn &&
                  f.alt_amount_unit.touched &&
                  (f.alt_amount_unit.errors ||
                    f.alt_amount_unit.errors?.required)) ||
                (f.alt_amount_unit.touched && validateAltAmountUnit())
            }"
                        [data]="dropdownAltList"
                        style="margin-bottom: 0px"
                        id="alt_amount_unit"
                        name="alt_amount_unit"
                        formControlName="alt_amount_unit"
                        [settings]="dropdownAltSettings"
                        (onClose)="modelChangedAltAmountUnit()"
                        (onDeSelectAll)="onDeSelectAllAltAmountUnit()"
                    >
                    </angular2-multiselect>
                    <div *ngIf="f.alt_amount_unit.touched" class="invalid-feedback">
                        <app-control-messages [control]="foodDetailForm.get('alt_amount_unit')"> </app-control-messages>
                    </div>
                    <div *ngIf="f.alt_amount_unit.touched && validateAltAmountUnit()" class="invalid-feedback">
                        {{ "FOODS.VALIDATION.ALTERNATIVE_AMOUNT_UNIT" | translate }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="minimumAmount">{{ "FOODS.LIST_ALTERNATIVE_MINIMUM_AMOUNT" | translate }}</label>
                <div class="short">
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="{
              'is-invalid':
                f.alt_mimimun_amount.touched && validateAltAmountValue()
            }"
                        style="margin-bottom: 0px"
                        id="alt_mimimun_amount"
                        name="alt_mimimun_amount"
                        formControlName="alt_mimimun_amount"
                        value="{{ foodDetail?.alt_mimimun_amount }}"
                        (keypress)="keyPressNumbers($event)"
                    />
                    <div
                        *ngIf="
              f.alt_mimimun_amount.touched && validateAltAmountValue()
            "
                        class="invalid-feedback"
                    >
                        {{ "FOODS.VALIDATION.ALTERNATIVE_MINIMUM_AMOUNT" | translate }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="maximumAmount">{{ "FOODS.LIST_ALTERNATIVE_MAXIMUM_AMOUNT" | translate }}</label>
                <div class="short">
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="{
              'is-invalid':
                f.alt_maximum_amount.touched && validateAltAmountValue()
            }"
                        style="margin-bottom: 0px"
                        id="alt_maximum_amount"
                        name="alt_maximum_amount"
                        formControlName="alt_maximum_amount"
                        value="{{ foodDetail?.alt_maximum_amount }}"
                        (keypress)="keyPressNumbers($event)"
                    />
                    <div
                        *ngIf="
              f.alt_maximum_amount.touched && validateAltAmountValue()
            "
                        class="invalid-feedback"
                    >
                        {{ "FOODS.VALIDATION.ALTERNATIVE_MAXIMUM_AMOUNT" | translate }}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-edit">
            <div class="form-group">
                <label>{{ "FOODS.RECIPE_CATEGORY" | translate }}</label>
                <div class="short">
                    <angular2-multiselect
                        formControlName="recipe_category"
                        [(ngModel)]="selectedRecipeCategory"
                        [settings]="dropdownRecipeCategorySettings"
                        [data]="dropdownRecipeCategoryList"
                        style="margin-bottom: 0px"
                        (onSelect)="onRecipeCategorySelect()"
                        (onDeSelect)="onRecipeCategorySelect()"
                        (onDeSelectAll)="onRecipeCategorySelect()"
                    >
                    </angular2-multiselect>
                </div>
            </div>
            <div class="form-group {{ getRequiredClass('recipe') }}">
                <label>{{ "FOODS.SELECT_UNIT" | translate }}</label>
                <div class="short">
                    <angular2-multiselect
                        [ngClass]="{
              'is-invalid':
                (isRecipe &&
                  f.select_unit.touched && (f.select_unit.errors || f.select_unit.errors?.required))}"
                        [data]="dropdownSelectUnitList"
                        style="margin-bottom: 0px"
                        id="select_unit"
                        name="select_unit"
                        formControlName="select_unit"
                        [settings]="dropdownRecipeSelectUnitSettings"
                        (onClose)="modelChanged()"
                    >
                    </angular2-multiselect>
                    <div *ngIf="f.select_unit.touched && isRecipe" class="invalid-feedback">
                        <app-control-messages [control]="foodDetailForm.get('select_unit')"> </app-control-messages>
                    </div>
                </div>
            </div>
            <div class="form-group {{ getRequiredClass('recipe') }}">
                <label for="amount_for_men">{{ "FOODS.AMOUNT_FOR_MEN" | translate }}</label>
                <div class="short">
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="{
                'is-invalid':
                  isRecipe &&
                  f.amount_for_men.touched &&
                  (f.amount_for_men.errors ||
                    f.amount_for_men.errors?.required)
              }"
                        style="margin-bottom: 0px"
                        id="amount_for_men"
                        name="amount_for_men"
                        formControlName="amount_for_men"
                        value="{{ foodDetail?.amount_for_men }}"
                        (ngModelChange)="onModelChange()"
                        (keypress)="keyPressNumbers($event)"
                    />
                    <div *ngIf="f.amount_for_men.touched" class="invalid-feedback">
                        <app-control-messages [control]="foodDetailForm.get('amount_for_men')"> </app-control-messages>
                    </div>
                </div>
            </div>
            <div class="form-group {{ getRequiredClass('recipe') }}">
                <label for="gram">{{ "FOODS.AMOUNT_FOR_WOMEN" | translate }}</label>
                <div class="short">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            [ngClass]="{
                'is-invalid':
                  isRecipe &&
                  f.amount_for_women.touched &&
                  (f.amount_for_women.errors ||
                    f.amount_for_women.errors?.required)
              }"
                            id="amount_for_women"
                            name="amount_for_women"
                            formControlName="amount_for_women"
                            value="{{ foodDetail?.amount_for_women }}"
                            (ngModelChange)="onModelChange()"
                            (keypress)="keyPressNumbers($event)"
                        />
                        <div *ngIf="f.amount_for_women.touched" class="invalid-feedback">
                            <app-control-messages [control]="foodDetailForm.get('amount_for_women')">
                            </app-control-messages>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label></label>
            <div class="button-area">
                <button type="submit" class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
                <button class="btn btn-outline-secondary" [routerLink]="['/food']">
                    {{ "FORM.CANCEL" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
