<div class="card">
    <form (ngSubmit)="onSubmit()" [formGroup]="bookingSettingForm">
        <div class="form-group">
            <label for="exampleInput3">{{ "BOOKING.SETTING.TITLE" | translate }}</label>
            <div>
                <div class="inline-select">
                    <select
                        class="form-control custom-select"
                        id="limit_booking_text"
                        formControlName="limit_booking_text"
                    >
                        <!-- <option selected>{{'BOOKING.SETTING.PLACEHOLDER_DROPDOWN' | translate}}</option> -->
                        <option [ngValue]="item.id" *ngFor="let item of limitBookingAndCancelItemsList">
                            {{ item.text }}
                        </option>
                    </select>
                    <span>{{ "BOOKING.SETTING.LIMIT_BOOKING_TEXT" | translate }}</span>
                </div>
                <div class="inline-select">
                    <select
                        class="form-control custom-select"
                        id="limit_booking_cancel_text"
                        formControlName="limit_booking_cancel_text"
                    >
                        <!-- <option selected>{{'BOOKING.SETTING.PLACEHOLDER_DROPDOWN' | translate}}</option> -->
                        <option [ngValue]="item.id" *ngFor="let item of limitBookingAndCancelItemsList">
                            {{ item.text }}
                        </option>
                    </select>
                    <span>{{ "BOOKING.SETTING.LIMIT_BOOKING_CANCEL_TEXT" | translate }}</span>
                </div>
                <div class="inline-select">
                    <select
                        class="form-control custom-select"
                        id="limit_booking_future_value"
                        formControlName="limit_booking_future_value"
                    >
                        <!-- <option selected>{{'BOOKING.SETTING.PLACEHOLDER_DROPDOWN' | translate}}</option> -->
                        <option [ngValue]="item.id" *ngFor="let item of limitFutureItemsList">{{ item.text }}</option>
                    </select>
                    <span>{{ "BOOKING.SETTING.LIMIT_BOOKING_DAY" | translate }}</span>
                </div>
            </div>
        </div>
        <!-- Holiday Section -->
        <div class="form-group">
            <label for="exampleInput3">{{ "BOOKING.SETTING.HOLIDAY_TITLE" | translate }}</label>
            <div class="short">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control date-picker"
                        bsDaterangepicker
                        [dateCustomClasses]="dateCustomClasses"
                        [bsConfig]="{
              isAnimated: true,
              rangeInputFormat: 'DD/MM/YYYY',
              dateInputFormat: 'DD/MM/yyyy'
            }"
                        (bsValueChange)="holidayChange($event)"
                        [(bsValue)]="bsValue"
                        [minDate]="currentDate"
                        readonly
                    />
                    <button
                        type="button"
                        class="btn btn-outline-primary"
                        [disabled]="
              this.holidaysAddFrom === undefined ||
              this.holidaysAddFrom === null
            "
                        (click)="addHoliday()"
                    >
                        {{ "FORM.ADD" | translate }}
                    </button>
                </div>
                <div>
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let holiday of holidaysRangeList; let i = index">
                                <td>{{ holiday.from }} - {{ holiday.to }}</td>
                                <td class="button-area">
                                    <button
                                        type="button"
                                        class="btn btn-outline-danger"
                                        (click)="dangerModal.show(); setHolidayIndex(i)"
                                    >
                                        <i class="fad fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label></label>
            <div class="button-area">
                <button class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
            </div>
        </div>
    </form>
</div>

<!--Delete modal-->
<div
    bsModal
    #dangerModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'DELETE_MODAL.TITLE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'BOOKING.SETTING.DELETE_HOLIDAY'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="dangerModal.hide()"
                    [translate]="'DELETE_MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="dangerModal.hide(); deleteHoliday()"
                    [translate]="'DELETE_MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>
