<h3 class="header" *ngIf="!id">{{ "BOOKING.SERVICE.ADD_HEAD" | translate }}</h3>
<h3 class="header" *ngIf="id">{{ "BOOKING.SERVICE.EDIT_HEAD" | translate }}</h3>

<div class="card coach">
    <form (ngSubmit)="onSubmit()" [formGroup]="serviceDetailForm">
        <div class="form-group required-form">
            <label for="name">{{ "BOOKING.SERVICE.NAME" | translate }}</label>
            <div>
                <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
            'is-invalid':
              f.name.touched && (f.name.errors || f.name.errors?.required)
          }"
                    id="name"
                    name="name"
                    formControlName="name"
                    value="{{ serviceDetail?.name }}"
                />
                <div *ngIf="f.name.touched" class="invalid-feedback">
                    <app-control-messages [control]="serviceDetailForm.get('name')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput1">{{ "BOOKING.SERVICE.CATEGORY" | translate }}</label>
            <div>
                <angular2-multiselect
                    [data]="categoryList"
                    id="category"
                    name="category"
                    formControlName="category"
                    [ngClass]="{
            'is-invalid':
              f.category.touched &&
              (f.category.errors || f.category.errors?.required)
          }"
                    [settings]="categoryDropdownSetting"
                    (onClose)="onCategoryChanged()"
                    [(ngModel)]="selectedCategory"
                >
                </angular2-multiselect>
                <div *ngIf="f.category.touched" class="invalid-feedback">
                    <app-control-messages [control]="serviceDetailForm.get('category')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInput3">{{ "BOOKING.SERVICE.DESCRIPTION" | translate }}</label>
            <div>
                <textarea
                    class="form-control"
                    style="min-height: 150px"
                    [ngClass]="{
            'is-invalid':
              f.description.touched &&
              (f.description.errors || f.description.errors?.required)
          }"
                    id="description"
                    name="description"
                    formControlName="description"
                    value="{{ serviceDetail?.description }}"
                >
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInput3">{{ "BOOKING.CALENDAR_DETAIL.INCLUDE_PERCENTAGE" | translate }}</label>
            <div>
                <label class="switch switch-label switch-pill switch-outline-primary-alt">
                    <input
                        checked=""
                        class="switch-input"
                        type="checkbox"
                        formControlName="include_percentage"
                        [(ngModel)]="includePercentage"
                    />
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
            </div>
        </div>
        <div class="form-edit">
            <div class="form-option">
                <h5 class="header">{{ "BOOKING.SERVICE.SET_TIME_HEAD" | translate }} :</h5>
            </div>
            <div class="form-group required-form">
                <label for="percentage">{{ "BOOKING.SERVICE.DURATION" | translate }}</label>
                <div>
                    <angular2-multiselect
                        [data]="serviceTimeItemList"
                        id="duration"
                        name="duration"
                        formControlName="duration"
                        [ngClass]="{
              'is-invalid':
                f.duration.touched &&
                (f.duration.errors || f.duration.errors?.required)
            }"
                        [settings]="durationDropdownSetting"
                        (onClose)="onDurationChanged()"
                        [(ngModel)]="selectedDuration"
                    >
                    </angular2-multiselect>
                    <div *ngIf="f.category.touched" class="invalid-feedback">
                        <app-control-messages [control]="serviceDetailForm.get('duration')"> </app-control-messages>
                    </div>
                </div>
            </div>
            <div class="form-group required-form">
                <label for="percentage">{{ "BOOKING.SERVICE.COLOR" | translate }}</label>
                <div>
                    <angular2-multiselect
                        [data]="colorList"
                        id="color"
                        name="color"
                        formControlName="color"
                        [ngClass]="{
              'is-invalid':
                f.color.touched && (f.color.errors || f.color.errors?.required)
            }"
                        [settings]="colorDropdownSetting"
                        (onClose)="onDurationChanged()"
                        [(ngModel)]="selectedColor"
                    >
                    </angular2-multiselect>
                    <div *ngIf="f.color.touched" class="invalid-feedback">
                        <app-control-messages [control]="serviceDetailForm.get('color')"> </app-control-messages>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "BOOKING.SERVICE.ADD_COACH" | translate }}</label>
            <div>
                <div class="drag-n-drop">
                    <div class="drag-n-drop-warp">
                        <div class="drag-n-drop-area">
                            <div class="drag-n-drop-header">
                                <div class="form-search">
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            formControlName="keyword"
                                            placeholder="{{ 'LIST.SEARCH' | translate }}"
                                            aria-label="Recipient's username"
                                            aria-describedby="basic-addon2"
                                            (ngModelChange)="searchCoach()"
                                        />
                                        <div class="input-group-append">
                                            <button class="btn" type="button" (click)="searchCoach()">
                                                <i class="fad fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <perfect-scrollbar class="drag-n-drop-body" [config]="config">
                                <div
                                    #selectAll
                                    class="drag-n-drop-header"
                                    style="cursor: pointer"
                                    (click)="selectedAll()"
                                    *ngIf="coachesList.length > 0"
                                >
                                    <span>{{ "BOOKING.CALENDAR_DETAIL.ALL_COACHES" | translate }}</span>
                                </div>
                                <div class="list-group drag-n-drop-body" dragula="ITEMS" [(dragulaModel)]="coachesList">
                                    <ng-container *ngFor="let coach of coachesList">
                                        <div
                                            class="list-group-item group-handle"
                                            [innerHtml]="coach?.name"
                                            [class.d-none]="!isInResult(coach)"
                                        ></div>
                                    </ng-container>
                                </div>
                            </perfect-scrollbar>
                        </div>
                    </div>
                    <div class="drag-n-drop-warp">
                        <div
                            class="drag-n-drop-area {{
                !hasSelectedCoaches && selectedCoachesList.length === 0
                  ? 'is-invalid'
                  : ''
              }}"
                        >
                            <div class="drag-n-drop-header">
                                <span>{{ "BOOKING.CALENDAR_DETAIL.RECEIVERS_LIST_COACH" | translate }}</span>
                            </div>
                            <perfect-scrollbar class="drag-n-drop-body">
                                <div
                                    class="drag-n-drop-header"
                                    style="cursor: pointer"
                                    (click)="deleteAll()"
                                    *ngIf="selectedCoachesList.length > 0"
                                >
                                    <span>{{ "BOOKING.CALENDAR_DETAIL.CLEAR_LIST_INTERNAL" | translate }}</span>
                                </div>
                                <div
                                    class="list-group drag-n-drop-body"
                                    dragula="ITEMS"
                                    [(dragulaModel)]="selectedCoachesList"
                                >
                                    <ng-container *ngFor="let coach of selectedCoachesList">
                                        <div class="list-group-item group-handle" [innerHtml]="coach?.name"></div>
                                    </ng-container>
                                </div>
                            </perfect-scrollbar>
                        </div>
                        <div
                            style="display: block"
                            class="invalid-feedback"
                            *ngIf="!hasSelectedCoaches && selectedCoachesList.length === 0"
                        >
                            {{ "GENERAL_NOTIFICATION.VALIDATION.DRAG_AND_DROP" | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-area">
            <button type="submit" class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
            <button
                class="btn btn-outline-secondary"
                [routerLink]="['/booking/booking-setting']"
                [queryParams]="{ tab: 'services' }"
            >
                {{ "FORM.CANCEL" | translate }}
            </button>
        </div>
    </form>
</div>
