<style>
    .cal-tooltip {
        z-index: -1000000 !important;
    }
</style>
<div>
    <h4>{{ "BOOKING.CALENDAR_TITLE" | translate }}</h4>
    <div class="calendar-setting">
        <div class="form-option">
            <div class="search-filter-area">
                <div class="form-filter">
                    <div class="input-group">
                        <angular2-multiselect
                            [data]="dropdownCoachList"
                            [(ngModel)]="selectedCoach"
                            [settings]="dropdownCoachSettings"
                            (onSelect)="onItemSelect()"
                            (onDeSelect)="onItemSelect()"
                            (onDeSelectAll)="onItemSelect()"
                        >
                        </angular2-multiselect>
                    </div>
                </div>
            </div>
            <div class="button-area">
                <button class="btn btn-outline-secondary" (click)="jumpToday()">
                    {{ "BOOKING.CALENDAR.TODAY_BUTTON" | translate }}
                </button>
                <button
                    class="btn btn-outline-secondary"
                    bsDatepicker
                    [(bsValue)]="viewDate"
                    placement="bottom right"
                    (bsValueChange)="onChooseWeek($event)"
                    [bsConfig]="{
            selectWeek: true,
            selectFromOtherMonth: true
          }"
                    [daysDisabled]="[1, 2, 3, 4, 5, 6]"
                >
                    {{ "BOOKING.CALENDAR.CHOOSE_WEEK_BUTTON" | translate }}
                </button>
                <button
                    *ngIf="currentUser?.isAdmin"
                    class="btn btn-outline-secondary"
                    [routerLink]="['booking-setting']"
                >
                    <i class="fad fa-cog"></i>
                    {{ "BOOKING.CALENDAR.SETTING_BUTTON" | translate }}
                </button>
            </div>
        </div>
    </div>
    <div class="calendar-area" id="calendarArea" #calendarArea>
        <div class="cal-week-view calendar-head" id="calendarHead" role="grid">
            <div class="week-chooser custom-table-header" role="row">
                <div class="cal-header" role="columnheader">
                    <div class="week-nav">
                        <button type="button" (click)="prevWeek()" class="week-prev">
                            <i class="fal fa-chevron-left"></i>
                        </button>
                    </div>
                    <div class="week-number">{{ "BOOKING.CALENDAR.WEEK" | translate }} {{ weekNumber }}</div>
                    <div class="week-nav">
                        <button type="button" (click)="nextWeek()" class="week-next">
                            <i class="fal fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="user-setting-header custom-table-header" role="row">
                <ng-container *ngFor="let day of [].constructor(7); let i = index">
                    <div class="cal-header" role="columnheader">
                        <button type="button" class="user-setting" (click)="editCoachWorkTime(i)">
                            <i class="fad fa-user-cog" [ngStyle]="setColorInCoachIcon(i)"></i>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
        <ng-template #myTemplateId let-event="event" let-placement="placement">
            <div class="cal-tooltip" [ngClass]="'cal-tooltip' + placement">
                <div class="cal-tooltip-arrow"></div>
                <div class="cal-tooltip-inner">
                    <div class="cal-tooltip-name">{{ event.event.title }}</div>
                    <div class="cal-tooltip-name" style="margin-bottom: 10px">{{ event.event.memberName }}</div>
                    <div class="cal-tooltip-telephone">{{ event.event.memberPhone }}</div>
                    <div class="cal-tooltip-detail">
                        <div class="cal-tooltip-detail-row">
                            <div class="cal-tooltip-label">{{ "BOOKING.CALENDAR.TIME" | translate }}:</div>
                            <div class="cal-tooltip-info">
                                {{ event.event.startInMin }} - {{ event.event.endInMin }}
                            </div>
                        </div>
                        <div class="cal-tooltip-detail-row">
                            <div class="cal-tooltip-label">{{ "BOOKING.CALENDAR.SERVICE" | translate }}:</div>
                            <div class="cal-tooltip-info">{{ event.event.serviceName }}</div>
                        </div>
                        <div class="cal-tooltip-detail-row">
                            <div class="cal-tooltip-label">{{ "BOOKING.CALENDAR.DURATION" | translate }}:</div>
                            <div class="cal-tooltip-info">{{ event.event.duration }} min</div>
                        </div>
                    </div>
                    <div class="cal-tooltip-desc" *ngIf="event.event.memberNote != ''">
                        <i class="fal fa-comment-alt-lines"></i>
                        <p>{{ event.event.memberNote }}</p>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #customEventTemplate let-weekEvent="weekEvent">
            <div
                [ngClass]="getEventColorClass(weekEvent.event.color)"
                mwlCalendarTooltip="true"
                [tooltipTemplate]="myTemplateId"
                [tooltipEvent]="weekEvent"
                (click)="eventClicked(weekEvent.event)"
                [tooltipPlacement]="customPositionTooltip(weekEvent.event)"
            >
                <div class="calendar-custom-event-wrapper">
                    <div class="time-icon-wrapper">
                        <p class="time">{{ weekEvent.event.title }}</p>
                        <div class="icon-action">
                            <button
                                type="button"
                                class="custom-event-icon"
                                *ngIf="weekEvent.event.status !== 'noStatus'"
                            >
                                <b
                                    class="badge {{
                    getColorStatusBooking(weekEvent.event.status)
                  }}"
                                    >{{ weekEvent.event.statusBooking }}</b
                                >
                            </button>
                            <button
                                type="button"
                                class="custom-event-icon"
                                *ngIf="weekEvent.event.type == 'client'"
                                (click)="preventStop($event, weekEvent.event)"
                            >
                                <i class="fal fa-chevron-right"></i>
                            </button>
                            <button
                                type="button"
                                class="custom-event-icon"
                                *ngIf="
                  weekEvent.event.memberNote != '' ||
                  weekEvent.event.internalNote != ''
                "
                            >
                                <i class="fal fa-comment-alt-dots"></i>
                            </button>
                            <button type="button" class="custom-event-icon" *ngIf="weekEvent.event.isRecurring">
                                <i class="fal fa-retweet"></i>
                            </button>
                        </div>
                    </div>

                    <p
                        class="time"
                        style="font-weight: normal"
                        *ngIf="
              weekEvent.event.duration > 15 && weekEvent.event.type == 'client'
            "
                    >
                        <a [routerLink]="['/customers', weekEvent.event.memberId, 'detail']"
                            >{{ weekEvent.event.memberName }}</a
                        >
                    </p>
                    <p
                        class="time"
                        style="font-weight: normal"
                        *ngIf="
              weekEvent.event.duration > 15 &&
              weekEvent.event.duration < 45 &&
              weekEvent.event.type == 'internal'
            "
                    >
                        {{ weekEvent.event.memberName }}
                    </p>
                    <p
                        class="time"
                        *ngIf="weekEvent.event.duration > 30"
                        style="font-weight: normal; white-space: nowrap"
                    >
                        {{ weekEvent.event.des }}
                    </p>
                </div>
            </div>
        </ng-template>
        <ng-template
            #weekView
            let-segment="segment"
            let-locale="locale"
            let-isTimeLabel="isTimeLabel"
            (beforeViewRender)="customHour(segment)"
        >
            <div
                class="cal-hour-segment cal-after-hour-start {{
          getSegmentClass(segment, isTimeLabel)
        }}"
                style="height: 30px"
            >
                <div *ngIf="isTimeLabel" class="time-label">{{ getTimeLabel(segment.date) }}</div>
            </div>
        </ng-template>
        <div>
            <mwl-calendar-week-view
                precision="minutes"
                [locale]="locale"
                [viewDate]="viewDate"
                [hourSegments]="4"
                [events]="events"
                [hourSegmentHeight]="30"
                [weekStartsOn]="1"
                [eventTemplate]="customEventTemplate"
                [hourSegmentTemplate]="weekView"
                (hourSegmentClicked)="hourSegmentClicked($event)"
                (beforeViewRender)="beforeViewRender($event)"
            >
            </mwl-calendar-week-view>
        </div>
    </div>
</div>

<!-- modal update status booking-->
<div
    class="modal fade"
    bsModal
    #statusModal="bs-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-nested-name1"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 30px 30px 30px 30px">
                <div class="form-group">
                    <div>
                        <h4>{{ weekEvent?.memberName }} - {{ weekEvent?.memberPhone }}</h4>
                        <div class="cal-tooltip-label">{{ weekEvent?.date }}</div>
                        <div class="cal-tooltip-label">
                            {{ "BOOKING.CALENDAR.TIME" | translate }}: {{ weekEvent?.startInMin }} - {{
                            weekEvent?.endInMin }}
                        </div>
                        <div class="cal-tooltip-label">
                            {{ "BOOKING.CALENDAR.SERVICE" | translate }}: {{ weekEvent?.serviceName }}
                        </div>
                        <div class="cal-tooltip-label">
                            {{ "BOOKING.CALENDAR.DURATION" | translate }}: {{ weekEvent?.duration }} min
                        </div>
                        <div class="cal-tooltip-desc" *ngIf="weekEvent?.memberNote != ''">
                            <div class="cal-tooltip-label">{{ "BOOKING.CALENDAR.CLIENT_NOTE" | translate }}:</div>
                            <div>{{ weekEvent?.memberNote }}</div>
                        </div>
                        <div class="custom-control custom-radio"></div>
                        <div class="custom-control custom-radio">
                            <input
                                class="custom-control-input"
                                id="customRadioDisabled"
                                value="noStatus"
                                name="radioDisabled"
                                type="radio"
                                [(ngModel)]="statusSelected"
                            />
                            <label class="custom-control-label" for="customRadioDisabled">Ingen Staus</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input
                                class="custom-control-input"
                                id="customRadioDisabled2"
                                value="arrived"
                                name="radioDisabled"
                                type="radio"
                                [(ngModel)]="statusSelected"
                            />
                            <label class="custom-control-label" for="customRadioDisabled2">Ankommet</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input
                                class="custom-control-input"
                                id="customRadioDisabled3"
                                value="absent"
                                name="radioDisabled"
                                type="radio"
                                [(ngModel)]="statusSelected"
                            />
                            <label class="custom-control-label" for="customRadioDisabled3">Udeblevet</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input
                                class="custom-control-input"
                                id="customRadioDisabled4"
                                value="paid"
                                name="radioDisabled"
                                type="radio"
                                [(ngModel)]="statusSelected"
                            />
                            <label class="custom-control-label" for="customRadioDisabled4">Betalt</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-primary" (click)="updateStatus(); statusModal.hide()">
                    {{ "FORM.SAVE" | translate }}
                </button>
                <button type="button" class="btn btn-outline-secondary" (click)="statusModal.hide()">
                    {{ "FORM.CANCEL" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
