<h3 class="header">{{ "NOTIFICATION_LIST.HEADER_LIST" | translate }}</h3>
<div class="card">
    <div class="form-option">
        <div class="search-filter-area">
            <div class="form-filter">
                <div class="inline-select">
                    <select
                        class="form-control custom-select"
                        id="notificationType"
                        [(ngModel)]="selectedNotificationType"
                        (change)="changingNotificationTypeValue($event.target.value)"
                    >
                        <option hidden value="" disabled selected>Notifikations type</option>
                        <option value="{{ type.id }}" *ngFor="let type of dropdownNotificationTypeList">
                            {{ type.itemName }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-filter">
                <div class="input-group">
                    <angular2-multiselect
                        [data]="dropdownFollowUpList"
                        [(ngModel)]="selectedFollowUp"
                        [settings]="dropdownFollowUpSettings"
                        (onSelect)="onItemSelect($event)"
                        (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)"
                    >
                    </angular2-multiselect>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ "NOTIFICATION_LIST.STATUS" | translate }}</th>
                <th>{{ "NOTIFICATION_LIST.DATE_LIST" | translate }}</th>
                <th>{{ "NOTIFICATION_LIST.CUSTOMER_LIST" | translate }}</th>
                <th>{{ "NOTIFICATION_LIST.TYPE_LIST" | translate }}</th>
                <th>{{ "NOTIFICATION_LIST.FOLLOW_UP" | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="hasResult">
            <tr *ngFor="let noti of notiFilterList">
                <td data-th="Status">
                    <span *ngIf="!!noti.follow_up_id || !noti.is_read"><i class="fad fa-circle text-danger"></i></span>
                </td>
                <td data-th="Navn">{{ noti.created_date | date : dateTimeFormat : undefined : "da-DK" }}</td>
                <td data-th="Tlf. nummer">{{ noti.member_name }}</td>
                <td data-th="Tlf. nummer">{{ getNotificationTypeText(noti.type) }}</td>
                <td class="button-area" style="text-align: left !important" [style.fill]="">
                    <button class="btn btn-outline-info" (click)="showFollowUpModal(noti); setnotification(noti)">
                        <i class="fad fa-pencil text-success"></i>
                    </button>
                    <span class="ml-3">{{ noti.follow_up_name ? noti.follow_up_name : "-" }}</span>
                </td>
                <td class="button-area">
                    <button class="btn btn-outline-info" (click)="clickNotification(noti)">
                        <i class="fad fa-info-circle"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-no-data" *ngIf="!hasResult">
        <span [translate]="'NOTIFICATION_LIST.NO_RESULT'"></span>
    </div>
    <div class="table-no-data" *ngIf="isEmpty">
        <span [translate]="'NOTIFICATION_LIST.EMPTY_LIST'"></span>
    </div>

    <ul class="pagination">
        <li *ngIf="paging.PageNumber > 0" class="pagination-prev page-item">
            <a class="page-link" (click)="pagePrev()">
                <i class="fad fa-angle-left"></i>
            </a>
        </li>
        <li *ngIf="paging.PageNumber <= 0" class="pagination-prev page-item disabled">
            <a class="page-link" (click)="pagePrev()">
                <i class="fad fa-angle-left"></i>
            </a>
        </li>
        <li class="pagination-page page-item active">
            <span class="page-link" href="">{{ paging.PageNumber + 1 }}</span>
        </li>
        <li *ngIf="!setButtonNext()" class="pagination-next page-item">
            <a class="page-link" (click)="pageNext()">
                <i class="fad fa-angle-right"></i>
            </a>
        </li>
        <li *ngIf="setButtonNext()" class="pagination-next page-item disabled">
            <a class="page-link" (click)="pageNext()">
                <i class="fad fa-angle-right"></i>
            </a>
        </li>
    </ul>
</div>

<!--add follow up modal-->
<div
    bsModal
    #addFollowUpModal="bs-modal"
    class="modal fade"
    tabindex="50"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ "NOTIFICATION_LIST.ADD_TITLE_MODAL" | translate }}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInput3">{{ "NOTIFICATION_LIST.NAME" | translate }}</label>
                    <div>
                        <angular2-multiselect
                            [data]="dropdownFollowUpList"
                            [(ngModel)]="followUp"
                            [settings]="modalFollowUpSettings"
                        >
                        </angular2-multiselect>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="addFollowUpModal.hide()">
                    {{ "FORM.CANCEL" | translate }}
                </button>
                <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="onSubmitFollowUp()"
                    (keyup.enter)="onSubmitFollowUp()"
                >
                    {{ "FORM.SAVE" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
