.breadcrumb {
    position: relative;
    @include border-radius($breadcrumb-border-radius);
    @include borders($breadcrumb-borders);
    @include margin-res-bottom;

    a {
        color: $breadcrumb-divider-color;
    }
}
@include media-breakpoint-down($breakpoint-mobile-down) {
    .breadcrumb {
        margin-bottom: 0;
    }
}
