.card {
    @include padding-res;
    padding-bottom: 0;
    box-shadow: $card-shadow;
    @include margin-res-bottom;

    .card-header {
        display: flex;
        padding: 0;
        background-color: transparent;
        border: none;

        .header {
            margin-right: auto;
        }

        .button-area {
            margin-top: 0;
            margin-top: 0;

            .btn {
                min-width: unset;
            }
        }
    }
}

.card-collasps {
    background-color: $gray-300;
    border-radius: $border-radius;
    box-shadow: $box-shadow-lg;
    margin-bottom: 20px;
    cursor: auto;

    .dropdown-toggle {
        padding: 10px;

        &:after {
            display: none;
        }
    }

    .dropdown-menu {
        margin-top: -40px;
    }

    .card-collasps-header {
        display: flex;
        position: relative;

        .btn-collasps {
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            color: $primary;
            padding: 15px 15px 15px 45px;
            position: relative;
            font-size: $h5-font-size;

            &:before {
                content: '';
                background-image: str-replace(
                    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' %3E%3Cg%3E%3Cpath fill='#{$primary}' d='M224.1 284.64l-56.89 56.78-154-154.31a24 24 0 0 1 0-33.94l22.65-22.7a23.93 23.93 0 0 1 33.84 0z' %3E%3C/path%3E%3Cpath fill='#{$duo-tone}' d='M435 187.15L241 381.48a23.94 23.94 0 0 1-33.84 0l-40-40 211.34-211a23.93 23.93 0 0 1 33.84 0L435 153.21a24 24 0 0 1 0 33.94z' %3E%3C/path%3E%3C/g%3E%3C/svg%3E"),
                    '#',
                    '%23'
                );
                background-repeat: no-repeat;
                width: 22px;
                height: 20px;
                display: inline-block;
                background-position: center;
                transition: all 0.2s ease-out;
                position: absolute;
                left: 12px;
                top: 17px;
            }

            &.collasped {
                &:before {
                    transform: rotate(180deg);
                    transition: all 0.4s ease-out;
                }
            }
        }

        .button-area {
            position: absolute;
            top: 5px;
            right: 30px;

            .btn {
                margin-bottom: 0;
            }
        }
    }

    .card-body {
        padding: 0 15px;

        .card-item {
            cursor: auto;
        }
    }

    .show-color {
        padding: 0 15px;
        display: flex;
        align-items: center;

        .color-selected {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            /* Nutrient theme */
            @each $meal-name, $meal-color in $meal-colors {
                &.-#{$meal-name} {
                    background-color: $meal-color;
                }
            }
        }
    }
}

.green-accordion {
    .card-collasps {
        margin-bottom: 1px;
        background-color: transparent;
        box-shadow: none;

        .card-collasps-header {
            .btn-collasps {
                display: flex;
                padding: 0;
                background-color: $accordion-toggle-bg;
                color: $accordion-toggle-text-color;
                font-size: 1rem;
                font-family: $booking-title-font-family;
                font-weight: $booking-title-font-weight;
                border-radius: 0;

                > span {
                    display: block;
                }

                > span:nth-child(1) {
                    padding: 16px;
                    height: 100%;
                    color: $white;
                    background-color: $accordion-toggle-number-bg;
                }

                > span:nth-child(2) {
                    flex: 1;
                    padding: 16px;
                }

                > span:nth-child(3) {
                    font-size: 2rem;
                    padding: 8px 16px 7px 0;
                }

                &:before {
                    display: none;
                }

                &.active,
                &.hilight {
                    background-color: $accordion-toggle-active-bg;
                    color: $accordion-toggle-text-active-color;

                    > span:nth-child(1) {
                        background-color: $accordion-toggle-number-active-bg;
                    }
                }

                &.active {
                    > span:nth-child(3) {
                        i {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        .card-body {
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@include media-breakpoint-down($breakpoint-mobile-down) {
    .card {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-up(md) {
    .green-accordion {
        .card-collasps {
            .card-collasps-header {
                .btn-collasps {
                    font-size: 1.1875rem;
                }
            }
        }
    }
}
