.dropdown-toggle {
    margin-bottom: 0;
}

.dropdown-item {
    padding: 10px 15px;

    i {
        color: $body-color;
    }
}
.dropdown-list ul {
    position: relative;
}

.custom-dropdown {
    .list-area {
        .list-filter + div {
            ul {
                overflow-y: hidden;
            }
        }
    }
}
