.pagination {
    @include margin-res-bottom;

    .page-link {
        min-width: 35px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;

        &:focus {
            box-shadow: none;
        }
    }
}
.hide-page-numbers {
    li.pagination-page {
        display: none;
    }
}
