<div class="card">
    <div class="form-option">
        <div class="button-area">
            <button class="btn btn-primary" [routerLink]="['/push-notifications', 'create']">
                <i class="fad fa-plus"></i>{{ "LIST.BUTTON" | translate }}
            </button>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th
                    class="sorting"
                    [class.asc]="!paging.IsSorted && obj.field == 'created_date'"
                    [class.desc]="paging.IsSorted && obj.field == 'created_date'"
                    (click)="isSorting('created_date')"
                >
                    {{ "GENERAL_NOTIFICATION.HEAD_DAY" | translate }}
                </th>
                <th
                    class="sorting"
                    [class.asc]="!paging.IsSorted && obj.field == 'heading'"
                    [class.desc]="paging.IsSorted && obj.field == 'heading'"
                    (click)="isSorting('heading')"
                >
                    {{ "GENERAL_NOTIFICATION.HEADING" | translate }}
                </th>
                <th>{{ "GENERAL_NOTIFICATION.PUSH_NOTIFICATION_TYPE" | translate }}</th>
                <th>{{ "GENERAL_NOTIFICATION.RECEIVERS" | translate }}</th>

                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="hasResult">
            <tr *ngFor="let general of generalFilterList">
                <td data-th="Date / Time">
                    {{ general.date | date : fullDateTimeFormat : undefined : "da-DK" }}
                    <ng-container *ngIf="general?.isEdited === true">(Edited)</ng-container>
                </td>
                <td data-th="Heading">{{ general.heading }}</td>
                <td data-th="PushNotificationType">{{ getNameItem(general.pushNotificationType) }}</td>
                <td data-th="Receiver">{{ general.receivers }}</td>
                <td class="button-area">
                    <button
                        *ngIf="currentUser?.isAdmin"
                        class="btn btn-outline-primary"
                        [routerLink]="['/push-notifications/history', general.id, 'edit']"
                    >
                        <i class="fad fa-pencil"></i>
                    </button>
                    <button class="btn btn-outline-info" [routerLink]="['/push-notifications', general.id, 'detail']">
                        <i class="fad fa-eye"></i>
                    </button>
                    <button class="btn btn-outline-danger" (click)="dangerModal.show(); setNotificationId(general.id)">
                        <i class="fad fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-no-data" *ngIf="!hasResult">
        <span [translate]="'GENERAL_NOTIFICATION.NO_RESULT'"></span>
    </div>
    <div class="table-no-data" *ngIf="isEmpty">
        <span [translate]="'GENERAL_NOTIFICATION.EMPTY_LIST'"></span>
    </div>

    <ul class="pagination">
        <li *ngIf="paging.PageNumber > 0" class="pagination-prev page-item">
            <a class="page-link" (click)="pagePrev()">
                <i class="fad fa-angle-left"></i>
            </a>
        </li>
        <li *ngIf="paging.PageNumber <= 0" class="pagination-prev page-item disabled">
            <a class="page-link" (click)="pagePrev()">
                <i class="fad fa-angle-left"></i>
            </a>
        </li>
        <li class="pagination-page page-item active">
            <span class="page-link" href="">{{ paging.PageNumber + 1 }}</span>
        </li>
        <li *ngIf="!setButtonNext()" class="pagination-next page-item">
            <a class="page-link" (click)="pageNext()">
                <i class="fad fa-angle-right"></i>
            </a>
        </li>
        <li *ngIf="setButtonNext()" class="pagination-next page-item disabled">
            <a class="page-link" (click)="pageNext()">
                <i class="fad fa-angle-right"></i>
            </a>
        </li>
    </ul>
</div>

<!--Delete modal-->
<div
    bsModal
    #dangerModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'GENERAL_NOTIFICATION.MODAL.DELETE_TITLE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'GENERAL_NOTIFICATION.MODAL.DELETE_DESCRIPTION'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="dangerModal.hide()"
                    [translate]="'MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="dangerModal.hide(); deleteNotification()"
                    [translate]="'MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>
