<div class="card">
    <div class="form-option">
        <div class="form-filter">
            <div class="input-group">
                <angular2-multiselect
                    [data]="dropdownCoachList"
                    [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)"
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"
                >
                </angular2-multiselect>
            </div>
        </div>
        <div class="button-area">
            <button
                class="btn btn-outline-primary"
                (click)="goToDowloadPage('/personal-coach-pdf/' + id + '/' + coachId)"
            >
                <i class="fad fa-file-download"></i>Download PDF
            </button>
            <button class="btn btn-primary" (click)="addModal()">
                <i class="fad fa-plus"></i>{{ "NOTE.NEW" | translate }}
            </button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th
                    class="sorting"
                    [class.asc]="!paging.IsSorted && paging.Field == 'note_date'"
                    [class.desc]="paging.IsSorted && paging.Field == 'note_date'"
                    (click)="isSorting('note_date')"
                >
                    {{ "NOTE.PERSONAL_COACH.NOTE_DATE" | translate }}
                </th>
                <th
                    class="sorting"
                    [class.asc]="!paging.IsSorted && paging.Field == 'exercise'"
                    [class.desc]="paging.IsSorted && paging.Field == 'exercise'"
                    (click)="isSorting('exercise')"
                >
                    {{ "NOTE.PERSONAL_COACH.EXERCISE" | translate }}
                </th>
                <th>{{ "NOTE.PERSONAL_COACH.NOTE" | translate }}</th>
                <th>{{ "NOTE.PERSONAL_COACH.CRITERIA" | translate }}</th>
                <th>{{ "NOTE.PERSONAL_COACH.AMOUNT" | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="hasResult">
            <tr *ngFor="let personalCoach of personalCoachList">
                <td data-th="note_date">{{ personalCoach.note_date | date : fullDateFormat : undefined : "da-DK" }}</td>
                <td data-th="exercise" style="white-space: pre-wrap" [innerHTML]="personalCoach.exercise"></td>
                <td data-th="note" style="white-space: pre-wrap" [innerHTML]="personalCoach.note"></td>
                <td data-th="criteria" style="white-space: pre-wrap" [innerHTML]="personalCoach.criteria"></td>
                <td data-th="amount" style="white-space: pre-wrap" [innerHTML]="personalCoach.amount"></td>
                <td class="button-area">
                    <button
                        class="btn btn-outline-primary"
                        (click)="
              editModal(personalCoach); setIdPersonalCoach(personalCoach.id)
            "
                    >
                        <i class="fad fa-pencil"></i>
                    </button>
                    <button
                        class="btn btn-outline-danger"
                        (click)="
              deletePersonalCoachModal.show();
              setIdPersonalCoach(personalCoach.id)
            "
                    >
                        <i class="fad fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-no-data" *ngIf="!hasResult">
        <span [translate]="'NOTE.NO_RESULT'"></span>
    </div>
    <pagination
        [boundaryLinks]="true"
        [totalItems]="total"
        [customFirstTemplate]="firstTemplate"
        [customLastTemplate]="lastTemplate"
        [customPreviousTemplate]="prevTemplate"
        [customNextTemplate]="nextTemplate"
        (pageChanged)="pageChanged($event)"
    >
    </pagination>
    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-right"></i>
    </ng-template>
    <ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-double-right"></i>
    </ng-template>
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-left"></i>
    </ng-template>
    <ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-double-left"></i>
    </ng-template>
</div>

<!--create modal-->
<form [formGroup]="personalCoachDetailForm">
    <div
        bsModal
        #personalCoachModal="bs-modal"
        class="modal fade"
        tabindex="50"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ personalCoachTitle }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInput3">{{ "NOTE.PERSONAL_COACH.NOTE_DATE" | translate }}</label>
                        <div class="short">
                            <input
                                type="text"
                                placeholder="{{ 'NOTE.NOTE_DATE_PLACEHOLDER' | translate }}"
                                class="form-control"
                                formControlName="note_date"
                                [ngModel]="dateTimeValueString"
                                readonly
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput3">{{ "NOTE.PERSONAL_COACH.EXERCISE" | translate }}</label>
                        <div>
                            <textarea
                                class="form-control"
                                formControlName="exercise"
                                style="min-height: 100px"
                            ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput3">{{ "NOTE.PERSONAL_COACH.NOTE" | translate }}</label>
                        <div>
                            <textarea class="form-control" formControlName="note" style="min-height: 100px"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput3">{{ "NOTE.PERSONAL_COACH.CRITERIA" | translate }}</label>
                        <div>
                            <textarea
                                class="form-control"
                                formControlName="criteria"
                                style="min-height: 100px"
                            ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput3">{{ "NOTE.PERSONAL_COACH.AMOUNT" | translate }}</label>
                        <div>
                            <textarea
                                class="form-control"
                                formControlName="amount"
                                style="min-height: 100px"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="personalCoachModal.hide()">
                        {{ "FORM.CANCEL" | translate }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        (click)="onSubmitPersonalCoach()"
                        (keyup.enter)="onSubmitPersonalCoach()"
                    >
                        {{ "FORM.SAVE" | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Delete modal-->
<div
    bsModal
    #deletePersonalCoachModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'DELETE_MODAL.TITLE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'DELETE_MODAL.DESCRIPTION'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="deletePersonalCoachModal.hide()"
                    [translate]="'DELETE_MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deletePersonalCoachModal.hide(); deletePersonalCoach()"
                    [translate]="'DELETE_MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>
