<h3 class="header" *ngIf="!id">{{ "CATEGORY.NEW_CATEGORY" | translate }}</h3>
<h3 class="header" *ngIf="id">{{ "CATEGORY.EDIT_CATEGORY" | translate }}</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="categoryDetailForm">
    <div class="card">
        <div class="form-group required-form">
            <label for="exampleInput1">{{ "CATEGORY.NAME_LIST" | translate }}</label>
            <div>
                <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
            'is-invalid':
              f.name.touched && (f.name.errors || f.name.errors?.required)
          }"
                    id="name"
                    name="name"
                    formControlName="name"
                />
                <div *ngIf="f.name.touched" class="invalid-feedback">
                    <app-control-messages [control]="categoryDetailForm.get('name')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group required-form">
            <label for="exampleInput3">{{ "CATEGORY.CREATE_DROP" | translate }}</label>
            <div class="short">
                <angular2-multiselect
                    [data]="dropdownList"
                    id="dropColorPicker"
                    name="dropColorPicker"
                    formControlName="dropColorPicker"
                    [ngClass]="{
            'is-invalid':
              f.dropColorPicker.touched &&
              (f.dropColorPicker.errors || f.dropColorPicker.errors?.required)
          }"
                    [settings]="dropdownSettings"
                    (onClose)="modelChanged()"
                    (onDeSelectAll)="onDeSelectAll()"
                >
                </angular2-multiselect>
                <div *ngIf="f.dropColorPicker.touched" class="invalid-feedback">
                    <app-control-messages [control]="categoryDetailForm.get('dropColorPicker')"> </app-control-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label></label>
            <div class="button-area">
                <input type="submit" class="btn btn-primary" [value]="'FORM.SAVE' | translate" />
                <button class="btn btn-outline-secondary" [routerLink]="['/traeningstyper']">
                    {{ "FORM.CANCEL" | translate }}
                </button>
            </div>
        </div>
    </div>
</form>

<div class="card" *ngIf="id !== null">
    <div class="form-option">
        <div class="button-area">
            <button class="btn btn-primary" (click)="button_new()" (click)="buildSubForm()">
                <i class="fad fa-plus"></i>{{ "LIST.BUTTON" | translate }}
            </button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="sorting" [class.asc]="isAscSorted" [class.desc]="!isAscSorted" (click)="isSorting('name')">
                    {{ "SUB_CATEGORY.SUB" | translate }}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="subResult">
            <tr *ngFor="let sub_cat of subCategoryList">
                <td data-th="Sub-category">{{ sub_cat.name }}</td>
                <td class="button-area">
                    <button class="btn btn-outline-primary" (click)="edit(sub_cat)">
                        <i class="fad fa-pencil"></i>
                    </button>
                    <button class="btn btn-outline-danger" (click)="dangerModal.show()">
                        <i class="fad fa-trash" (click)="setSubCategoryId(sub_cat.uid)"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-no-data" *ngIf="!subResult">
        <span [translate]="'SUB_CATEGORY.NO_RESULT'"></span>
    </div>
</div>

<!-- add Modal -->
<form (ngSubmit)="onSubmit_sub()" [formGroup]="categorySubDetailForm">
    <div
        bsModal
        #largeModal="bs-modal"
        class="modal fade"
        tabindex="50"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" *ngIf="!this.subCategoryId">{{ "SUB_CATEGORY.SUB_NEW" | translate }}</h4>
                    <h4 class="modal-title" *ngIf="this.subCategoryId">{{ "SUB_CATEGORY.SUB_EDIT" | translate }}</h4>
                    <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="largeModal.hide()"
                        (click)="buildSubForm()"
                    >
                        <span aria-hidden="true"><i class="fad fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group required-form">
                        <label for="exampleInput1">{{ "CATEGORY.NAME_LIST" | translate }}</label>
                        <div>
                            <input
                                type="text"
                                class="form-control"
                                id="sub_name"
                                name="sub_name"
                                formControlName="sub_name"
                                [ngClass]="{
                  'is-invalid':
                    f_sub.sub_name.touched &&
                    (f_sub.sub_name.errors || f_sub.sub_name.errors?.required)
                }"
                            />
                            <div *ngIf="f_sub.sub_name.touched" class="invalid-feedback">
                                <app-control-messages [control]="categorySubDetailForm.get('sub_name')">
                                </app-control-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="largeModal.hide()"
                        (click)="buildSubForm()"
                        (keyup.enter)="buildSubForm()"
                    >
                        {{ "FORM.CANCEL" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Delete modal-->
<div
    bsModal
    #dangerModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'DELETE_MODAL.TITLE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'DELETE_MODAL.DESCRIPTION'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="dangerModal.hide()"
                    [translate]="'DELETE_MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteSubCategory(); dangerModal.hide()"
                    [translate]="'DELETE_MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>
