<h3 class="header">{{ "GENERAL_NOTIFICATION.HEADER" | translate }}</h3>
<tabset #staticTabs class="customer">
    <tab
        id="tab_notification_history"
        heading="{{ 'GENERAL_NOTIFICATION.NOTIFICATION_HISTORY_TAB' | translate }}"
        (selectTab)="doThisOnSelect($event)"
    >
        <app-notfication-history *ngIf="this.staticTabs.tabs[0].active"></app-notfication-history>
    </tab>
    <tab
        id="tab_notification"
        heading="{{ 'GENERAL_NOTIFICATION.NOTIFICATION_TAB' | translate }}"
        (selectTab)="doThisOnSelect($event)"
    >
        <app-notification-setting *ngIf="this.staticTabs.tabs[1].active"></app-notification-setting>
    </tab>
</tabset>
