<div class="card">
    <div class="form-option">
        <div class="search-filter-area">
            <div class="form-search">
                <div class="input-group">
                    <input
                        type="text"
                        [(ngModel)]="keyword"
                        class="form-control"
                        placeholder="{{ 'LIST.SEARCH' | translate }}"
                        aria-label="Recipient's username"
                        aria-describedby="basic-addon2"
                        (keyup.enter)="searchMember()"
                    />
                    <div class="input-group-append">
                        <button class="btn" type="button" (click)="searchMember()">
                            <i class="fad fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead *ngIf="hasResult">
            <tr>
                <th
                    class="sorting"
                    [class.asc]="paging.IsSorted && paging.Field == 'full_name'"
                    [class.desc]="!paging.IsSorted && paging.Field == 'full_name'"
                    (click)="isSorting('full_name')"
                >
                    {{ "MEMBER.NAME" | translate }}
                </th>
                <th
                    class="sorting"
                    [class.asc]="paging.IsSorted && paging.Field == 'phone_number'"
                    [class.desc]="!paging.IsSorted && paging.Field == 'phone_number'"
                    (click)="isSorting('phone_number')"
                >
                    {{ "MEMBER.PHONE_LIST" | translate }}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="hasResult">
            <tr *ngFor="let member of memberInActiveList">
                <td data-th="Navn">{{ member.full_name }}</td>
                <td data-th="Tlf. nummer">{{ member.phone }}</td>
                <td class="button-area">
                    <button
                        *ngIf="currentUser?.isAdmin"
                        class="btn btn-outline-warning"
                        (click)="setMemberId(member.uid); reactivateModal.show()"
                    >
                        <i class="fad fa-undo"></i>
                    </button>
                    <button
                        *ngIf="currentUser?.isAdmin"
                        class="btn btn-outline-danger"
                        (click)="dangerModal.show(); setMemberId(member.uid)"
                    >
                        <i class="fad fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-no-data" *ngIf="isEmpty">
        <span [translate]="'MEMBER_LIST.EMPTY_LIST'"></span>
    </div>
    <div class="table-no-data" *ngIf="!hasResult">
        <span [translate]="'MEMBER_LIST.NO_RESULT'"></span>
    </div>
    <pagination
        [boundaryLinks]="true"
        [totalItems]="total"
        [itemsPerPage]="itemPerPage"
        [maxSize]="maxSize"
        [customFirstTemplate]="firstTemplate"
        [customLastTemplate]="lastTemplate"
        [customPreviousTemplate]="prevTemplate"
        [customNextTemplate]="nextTemplate"
        (pageChanged)="pageChanged($event)"
    >
    </pagination>
    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-right"></i>
    </ng-template>
    <ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-double-right"></i>
    </ng-template>
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-left"></i>
    </ng-template>
    <ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-double-left"></i>
    </ng-template>
</div>

<!--Reactivate modal-->
<div
    bsModal
    #reactivateModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'REACTIVATE_MODAL.TITLE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'REACTIVATE_MODAL.DESCRIPTION'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="reactivateModal.hide()"
                    [translate]="'REACTIVATE_MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="reactivateModal.hide(); reactivateMember()"
                    [translate]="'REACTIVATE_MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>

<!--Delete modal-->
<div
    bsModal
    #dangerModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'REACTIVATE_MODAL.TILTLE_DELETE_MODAL'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'REACTIVATE_MODAL.DESCRIPTION_DELETE'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="dangerModal.hide()"
                    [translate]="'MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="dangerModal.hide(); deleteMember()"
                    [translate]="'MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>
