::ng-deep .arrow-down {
    display: none !important;
}

angular2-multiselect {
    ::ng-deep {
        padding-right: 0 !important;
        background-image: none !important;
        .dropdown-list-top {
            bottom: 36px !important;
        }
    }
}
