<div class="card calendar">
    <div class="card-header">
        <h3 class="header">{{ getMonthName() }} {{ currentDate | date : "yyyy" }}</h3>
        <div class="button-area">
            <button class="btn btn-outline-primary" (click)="backM()">
                <i class="fad fa-chevron-left"></i>
            </button>
            <button class="btn btn-outline-primary" (click)="nextM()">
                <i class="fad fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ "CALENDAR.LIST_NAME" | translate }}</th>
                <th>{{ "CALENDAR.LIST_PLAN" | translate }}</th>
            </tr>
        </thead>
        <tbody *ngIf="hasResult">
            <tr *ngFor="let calendar of calendarList">
                <td data-th="Calendar">{{ calendar.date | date : dateMonthFormat : undefined : "da-DK" }}</td>
                <td data-th="Plan" class="customer-calendar-plans">
                    <span *ngFor="let log of calendar.logs" (click)="showDetailModal(log)">
                        {{ log.categories?.name }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-no-data" *ngIf="!hasResult">
        <span [translate]="'CALENDAR.NO_RESULT'"></span>
    </div>
</div>

<!-- Modal -->
<div
    bsModal
    #largeModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ logDetail.categories?.name }}</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                    <span aria-hidden="true"><i class="fad fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h5 class="mb-0" *ngFor="let sub_category of logDetail.sub_categories">
                        <span>{{ sub_category.name }}</span>
                    </h5>
                    <p [innerHTML]="logDetail.text"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">
                    {{ "CALENDAR.MODAL_CLOSE" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
