<div class="card">
    <div class="form-option">
        <div class="button-area">
            <button class="btn btn-primary" (click)="addModal()">
                <i class="fad fa-plus"></i>{{ "NOTE.NEW" | translate }}
            </button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th
                    class="sorting"
                    [class.asc]="!paging.IsSorted && paging.Field == 'note_date'"
                    [class.desc]="paging.IsSorted && paging.Field == 'note_date'"
                    (click)="isSorting('note_date')"
                >
                    {{ "NOTE.CHALLENGE.NOTE_DATE" | translate }}
                </th>
                <th>{{ "NOTE.CHALLENGE.TASK" | translate }}</th>
                <th>{{ "NOTE.CHALLENGE.COMPLETION_DATE" | translate }}</th>
                <th>{{ "NOTE.CHALLENGE.STAFF" | translate }}</th>
                <th>{{ "NOTE.CHALLENGE.DEADLINE" | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="hasResult">
            <tr *ngFor="let challenges of challengesList">
                <td data-th="note_date">{{ challenges.note_date | date : fullDateFormat : undefined : "da-DK" }}</td>
                <td
                    data-th="completion_date"
                    style="white-space: pre-wrap"
                    [innerHTML]="challenges.completion_date"
                ></td>
                <td data-th="task" style="white-space: pre-wrap" [innerHTML]="challenges.task"></td>
                <td data-th="staff" style="white-space: pre-wrap" [innerHTML]="challenges.staff"></td>
                <td data-th="deadline" style="white-space: pre-wrap" [innerHTML]="challenges.deadline"></td>
                <td class="button-area">
                    <button
                        class="btn btn-outline-primary"
                        (click)="editModal(challenges); setIdchallenges(challenges.id)"
                    >
                        <i class="fad fa-pencil"></i>
                    </button>
                    <button
                        class="btn btn-outline-danger"
                        (click)="
              deletechallengesModal.show(); setIdchallenges(challenges.id)
            "
                    >
                        <i class="fad fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-no-data" *ngIf="!hasResult">
        <span [translate]="'NOTE.NO_RESULT'"></span>
    </div>
    <pagination
        [boundaryLinks]="true"
        [totalItems]="total"
        [customFirstTemplate]="firstTemplate"
        [customLastTemplate]="lastTemplate"
        [customPreviousTemplate]="prevTemplate"
        [customNextTemplate]="nextTemplate"
        (pageChanged)="pageChanged($event)"
    >
    </pagination>
    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-right"></i>
    </ng-template>
    <ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-double-right"></i>
    </ng-template>
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-left"></i>
    </ng-template>
    <ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class="fad fa-angle-double-left"></i>
    </ng-template>
</div>

<!--create modal-->
<form [formGroup]="challengesDetailForm">
    <div
        bsModal
        #challengesModal="bs-modal"
        class="modal fade"
        tabindex="50"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ challengesTitle }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInput3">{{ "NOTE.CHALLENGE.NOTE_DATE" | translate }}</label>
                        <div class="short">
                            <input
                                type="text"
                                placeholder="{{ 'NOTE.NOTE_DATE_PLACEHOLDER' | translate }}"
                                class="form-control date-picker"
                                formControlName="note_date"
                                value="{{ challengesModel?.note_date | date : dateFormat }}"
                                bsDatepicker
                                [ngModel]="dateValueNow"
                                [bsConfig]="{
                  isAnimated: true,
                  showClearButton: false,
                  clearPosition: 'right',
                  dateInputFormat: datePickerFormat
                }"
                                readonly
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput3">{{ "NOTE.CHALLENGE.TASK" | translate }}</label>
                        <div>
                            <textarea
                                class="form-control"
                                formControlName="completion_date"
                                style="min-height: 100px"
                            ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput3">{{ "NOTE.CHALLENGE.COMPLETION_DATE" | translate }}</label>
                        <div>
                            <textarea class="form-control" formControlName="task" style="min-height: 100px"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput3">{{ "NOTE.CHALLENGE.STAFF" | translate }}</label>
                        <div>
                            <textarea class="form-control" formControlName="staff" style="min-height: 100px"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput3">{{ "NOTE.CHALLENGE.DEADLINE" | translate }}</label>
                        <div>
                            <textarea
                                class="form-control"
                                formControlName="deadline"
                                style="min-height: 100px"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="challengesModal.hide()">
                        {{ "FORM.CANCEL" | translate }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        (click)="onSubmitchallenges()"
                        (keyup.enter)="onSubmitchallenges()"
                    >
                        {{ "FORM.SAVE" | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Delete modal-->
<div
    bsModal
    #deletechallengesModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'DELETE_MODAL.TITLE'"></div>
            </div>
            <div class="modal-body">
                <p [translate]="'DELETE_MODAL.DESCRIPTION'"></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="deletechallengesModal.hide()"
                    [translate]="'DELETE_MODAL.CANCEL'"
                ></button>
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deletechallengesModal.hide(); deletechallenges()"
                    [translate]="'DELETE_MODAL.CONFIRM'"
                ></button>
            </div>
        </div>
    </div>
</div>
