.calendar-area {
    position: relative;
    height: calc(100vh - 320px);
    overflow-y: auto;
}
.calendar-setting {
    padding-left: 15px;
    padding-right: 15px;
    .form-option {
        .form-filter {
            margin-right: 0;
        }
    }
}
.calendar-head {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    border-top: 1px solid #e1e1e1 !important;
    border-bottom: 1px solid #e1e1e1;
}
.cal-day-headers {
    position: sticky;
    top: 107px;
    z-index: 999;
    width: 100%;
}
.cal-week-view {
    border-top: none;
    .cal-day-headers {
        background-color: $white;
    }
    .cal-time-events {
        .cal-event-container {
            z-index: 2;
        }
    }
}
.stick-head {
    position: relative;
    padding-top: 164px;
    .stick {
        position: absolute;
        z-index: 999;
        width: 100%;
    }
}
.custom-table-header {
    display: flex;
    padding-left: 70px;
    border: 1px solid;
    border-color: #e1e1e1;
    border-top: 0;
    .cal-header {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
        text-align: center;
        padding: 5px;
        &:hover {
            background-color: #ededed;
        }
        &:first-child {
            border-left: 1px solid #e1e1e1;
        }
        &:not(:last-child) {
            border-right: 1px solid #e1e1e1;
        }
    }
    &.week-chooser {
        padding-left: 0;
        border-left: none;
        .cal-header {
            display: flex;
            width: 100%;
            padding: 0;
        }
        .week-number {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
        }
        .week-nav {
            height: 48px;
            width: 50px;
            button {
                width: 100%;
                height: 100%;
                text-align: center;
                border: none;
                background-color: transparent;
                font-size: 1.25rem;
            }
        }
    }
    &.user-setting-header {
        border-bottom: none;
        .cal-header {
            padding: 0;
        }
        .user-setting {
            color: $primary;
            border: none;
            background-color: transparent;
            font-size: 1.4375rem;
            width: 100%;
            padding: 11px 10px;
            outline: none;
            &:focus {
                box-shadow: none;
            }
        }
    }
}

.calendar-custom-event {
    height: 100%;
    border-radius: 3px;
    font-size: 0.75rem;
    padding: 4px 5px 4px 10px;
    background-color: $calendar-badge-green;

    &.blue {
        background-color: $calendar-badge-blue;
    }

    &.red {
        background-color: $calendar-badge-red;
    }

    &.purple {
        background-color: $calendar-badge-purple;
    }

    &.orange {
        background-color: $calendar-badge-orange;
    }

    &.grey {
        background-color: $calendar-badge-grey;
    }

    &.green {
        background-color: $calendar-badge-green;
    }

    &.light_green {
        background-color: $calendar-badge-light-green;
    }

    &.petrolium {
        background-color: $calendar-badge-petrolium;
    }

    &.pink {
        background-color: $calendar-badge-pink;
    }

    &.turquoise {
        background-color: $calendar-badge-turquoise;
    }

    .calendar-custom-event-wrapper {
        position: relative;
    }
    .time-icon-wrapper {
        display: flex;
        flex-wrap: nowrap;
    }
    .time {
        flex: 1;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        a {
            color: $body-color;
            font-weight: 700;
            text-decoration: underline;
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
    }
    .icon-action {
        display: flex;
        flex-wrap: wrap;
    }
    .custom-event-icon {
        border: none;
        background-color: transparent;
        padding: 0;
        min-width: 20px;
        height: 20px;
        z-index: 1;
        font-size: 14px;
        outline: none;
        margin-left: 2px;
        .badge {
            display: block;
            height: 100%;
            width: 100%;
            position: relative;
            font-size: 0.875rem;
            line-height: 20px;
            padding: 0 0.4em;
        }
    }
}
.cal-hour-segment {
    cursor: pointer;
}
.cal-time-label-column {
    .cal-hour-segment {
        cursor: default;
    }
}

.cal-tooltip {
    opacity: 1;
    .cal-tooltip-inner {
        padding: 20px;
        max-width: none;
        width: 100%;
        min-width: 200px;
        text-align: left;
        font-size: 1rem;
        background-color: $white;
        box-shadow: 1px 1px 6px 0px rgba($black, 0.2);
        z-index: 9999;
        color: $black;
        > *:last-child {
            margin-bottom: 0;
        }
    }
    .cal-tooltip-name {
        margin-bottom: 10px;
        h6 {
            font-size: 1.25rem;
            color: $black;
            margin-bottom: 0;
        }
    }
    .cal-tooltip-detail {
        margin: 15px 0;
    }
    .cal-tooltip-detail-row {
        display: flex;
    }
    .cal-tooltip-label {
        font-weight: bold;
        margin-right: 10px;
    }
    .cal-tooltip-desc {
        position: relative;
        padding-left: 30px;
        > *:last-child {
            margin-bottom: 0;
        }
        > i {
            position: absolute;
            left: 0;
            top: 5px;
            font-size: 1rem;
        }
    }
}
.cal-week-view .cal-time-events .cal-day-column {
    margin-right: 25px;
}

.cal-week-view .cal-hour {
    width: calc(100% + 25px);
}

.cal-week-view .cal-day-headers {
    text-transform: capitalize;
}

@include media-breakpoint-up(lg) {
    .calendar-setting {
        padding-left: 0;
        padding-right: 0;

        .form-option {
            .search-filter-area {
                flex: 1;
            }
            .form-filter {
                margin-right: 10px;
            }
        }
    }
}
