:root {
    --inside-pading-destop: 32px;
    --card-pading-destop: 28px;
    --online-booking-mobile-title-font-size: 2.1875rem;
    --online-booking-mobile-font-size: 1.125rem;
    --online-booking-desktop-font-size: 1.125rem;
}

app-online-booking-system,
app-online-booking-success,
app-online-booking-error {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-x: hidden;
}
.online-booking {
    background-color: $white;
    color: $custom-grey-2;
    margin: 0;
    padding: 12px 0;

    .container-fluid {
        max-width: 748px;
        padding: 0 15px;
    }

    .logo {
        text-align: center;
        margin: 0 0 12px;

        img {
            max-width: 100px;
        }
    }

    .intro-section {
        text-align: center;
    }

    h1 {
        font-family: $booking-title-font-family;
        font-weight: $booking-title-font-weight;
        font-size: var(--online-booking-mobile-title-font-size);
        letter-spacing: 0;
    }

    h6 {
        font-size: 1rem;
        letter-spacing: 0;
    }

    p {
        font-size: var(--online-booking-mobile-font-size);
        line-height: 1.75;
    }

    .green-accordion {
        margin-left: -15px;
        margin-right: -15px;
    }

    .service-select-item {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 16px;
        border-bottom: 1px solid $gray-100;

        .form-group {
            margin-bottom: 11px;

            .custom-control:first-child {
                padding-top: 0;
            }
        }

        > *:last-child {
            margin-bottom: 0;
        }

        > p {
            color: $custom-grey-4;
        }

        .custom-control-label::before {
            border-color: $custom-service-radio-border;
        }

        .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
            background-image: $custom-service-radio-indicator-icon-checked;
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            background-color: $white;
        }
    }

    .green-accordion {
        .card-collasps {
            .card-collasps-header {
                .btn-collasps {
                    font-size: var(--online-booking-mobile-font-size);
                }
            }
        }
    }

    .card-item-selected {
        padding: 15px;
        font-size: var(--online-booking-mobile-font-size);
        line-height: 1.75;
    }

    .custom-control-label {
        font-size: var(--online-booking-mobile-font-size);
    }

    .form-group {
        > label {
            font-size: var(--online-booking-mobile-font-size);
        }
    }

    .form-control {
        font-size: var(--online-booking-mobile-font-size);
    }

    .date-time-select {
        padding: 28px 0;
    }

    .date-select {
        display: flex;
        justify-content: center;
        margin-bottom: 28px;

        .bs-datepicker {
            box-shadow: none;
            font-size: var(--online-booking-mobile-font-size);
        }

        .bs-datepicker-container {
            padding: 0;
        }

        .bs-datepicker-head {
            border-radius: 0;
        }

        .bs-datepicker-body {
            border-radius: 0;
        }

        .theme-green {
            .bs-datepicker-head {
                background-color: $date-time-picker-head-bg;
            }

            .bs-datepicker-body {
                table {
                    th {
                        font-size: 1rem;
                    }

                    td span {
                        font-size: 1rem;
                    }

                    td span.selected,
                    td.selected span,
                    table td span[class*='select-']:after,
                    td[class*='select-'] span:after,
                    td span.custom-selected-date,
                    td span.custom-selected-date.selected {
                        background-color: $date-time-picker-date-selected-bg;
                        color: $white;
                    }
                }
            }
        }
    }

    .time-select {
        margin-left: -15px;
        margin-right: -15px;
    }

    .time-table {
        border: 1px solid $booking-service-border-color;

        .time-table-title {
            background-color: $date-time-picker-head-bg;
            color: $white;
            display: flex;
            align-items: center;
            font-size: var(--online-booking-mobile-font-size);
            padding: 15px;

            i {
                font-size: 1.125rem;
                margin-right: 10px;
            }
        }

        .time-table-head {
            display: flex;
            border-bottom: 1px solid $booking-service-border-color;

            > .column {
                width: 33.33%;
                text-align: center;
                font-size: var(--online-booking-mobile-font-size);
                font-weight: 600;
                padding: 15px 0;
            }
        }

        .time-table-body {
            display: flex;

            > .column {
                width: 33.33%;
                text-align: center;
                padding: 21px 15px;
                border-right: 1px solid $booking-service-border-color;

                &:last-child {
                    border-right: none;
                }

                .btn {
                    width: 100%;
                    margin-bottom: 20px;
                    font-size: var(--online-booking-mobile-font-size);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .btn-outline-primary {
                    &.selected {
                        background-color: $primary;
                        color: $white;
                    }
                }
            }
        }
    }

    .info-form {
        padding: 13px 0;
    }

    .form-submit {
        .btn {
            width: 100%;
            font-size: var(--online-booking-mobile-font-size);
        }

        .btn-danger {
            background-color: $custom-red-1;
        }
    }

    .icon-section {
        margin: 24px 0;
    }

    .online-booking-detail {
        text-align: center;
        border-top: 1px solid $booking-service-border-color;
        margin: 21px -15px;
        padding: 21px 15px;

        .online-booking-detail-name {
            font-size: 1rem;
            margin-bottom: 2px;
        }

        .online-booking-detail-tel {
            > i {
                margin-right: 10px;
                font-size: 0.75rem;
            }
        }

        .online-booking-detail-service {
            margin-bottom: 5px;
        }

        .online-booking-detail-date {
            margin-bottom: 26px;

            > i {
                margin-right: 10px;
            }
        }

        .online-booking-detail-action {
            .btn {
                border-width: 2px;
                letter-spacing: 0;
                font-weight: 600;
                padding-top: 0.6875rem;
                padding-bottom: 0.6875rem;
            }
        }
    }

    .button-action {
        font-size: 0;
        margin-top: 15px;

        .btn {
            font-size: var(--online-booking-mobile-font-size);
            border-width: 2px;
            letter-spacing: 0;
            font-weight: 600;
            padding-top: 0.6875rem;
            padding-bottom: 0.6875rem;
            margin: 6px;
        }
    }

    .select-coach-wrapper {
        padding-block-end: 20px;
        .btn {
            inline-size: 100%;
            margin-block-start: 20px;
            letter-spacing: 0;
            @include font-size(15px);
            &.selected {
                background-color: $custom-grey-5;
                border-color: $custom-grey-5;
                color: $white;
            }
        }
    }
    .coach-list {
        padding-inline: 23px;
        .btn {
            border-color: $custom-grey-5;
        }
    }
    .coach-cards {
        padding-inline: 16px;
        &.big-coach-cards {
            padding-inline: 0;
        }
    }
    .coach-card {
        border: 1px solid $custom-grey-5;
        border-radius: 8px;
        padding: 15px;
        text-align: center;
        margin-block-start: 20px;
        cursor: pointer;
        &.selected {
            background-color: $primary;
            color: $white;
            .coach-name {
                color: $white;
            }
        }
        .coach-image {
            margin-block-end: 7px;
        }
        .coach-image-wrapper {
            inline-size: 53px;
            block-size: 53px;
            overflow: hidden;
            border-radius: 50%;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        .coach-detail {
            > *:last-child {
                margin-block-end: 0;
            }
            p {
                @include font-size(13px);
            }
        }
        .coach-name {
            font-weight: $font-weight-normal;
            color: $primary;
            letter-spacing: 0;
            margin-block-end: 7px;
            @include font-size(15px);
        }
    }
    .big-coach-cards {
        .coach-card {
            padding: 0;
            overflow: hidden;
            .coach-detail {
                padding: 15px;
            }
            .coach-image {
                padding: 15px;
            }
            .coach-image-wrapper {
                inline-size: 100%;
                block-size: 100%;
            }
            .coach-name {
                font-family: 'Domine', serif;
                font-weight: 700;
                @include font-size(18px);
            }
            .coach-detail {
                p {
                    @include font-size(18px);
                }
            }
        }
    }
}

.online-booking-success,
.online-booking-error {
    .container-fluid {
        max-width: 464px;
    }

    .logo {
        margin: 0 0 21px;
    }
}

@include media-breakpoint-up(md) {
    .online-booking {
        padding: 30px 0;

        h1 {
            font-size: 1.875rem;
        }

        h6 {
            font-size: 1.25rem;
        }

        .logo {
            margin: 0 0 22px;

            img {
                max-width: 180px;
            }
        }

        .green-accordion {
            margin-left: 0;
            margin-right: 0;
            box-shadow: 0px 3px 4px rgba($black, 0.16);
            border-radius: 4px 4px 0px 0px;
            overflow: hidden;
        }

        .green-accordion {
            .card-collasps {
                .card-collasps-header {
                    .btn-collasps {
                        font-size: 1.1875rem;
                    }
                }
            }
        }

        .card-collasps .card-body {
            padding: 0 var(--card-pading-destop);
        }

        .service-select-item {
            margin-left: calc(var(--card-pading-destop) * -1);
            margin-right: calc(var(--card-pading-destop) * -1);
            padding-left: var(--card-pading-destop);
            padding-right: var(--card-pading-destop);
            padding-top: 26px;
            padding-bottom: 20px;

            > p {
                padding-left: 1.875rem;
            }
        }

        .card-item-selected {
            font-size: var(--online-booking-desktop-font-size);
            padding: 11px 15px 12px 58px;
        }

        .custom-control-label {
            font-size: var(--online-booking-desktop-font-size);
        }

        .form-group {
            > div {
                width: 100%;
            }

            > label {
                font-size: var(--online-booking-desktop-font-size);
            }
        }

        .form-control {
            font-size: var(--online-booking-desktop-font-size);
        }

        .time-select {
            margin-left: 0;
            margin-right: 0;
            padding-left: var(--inside-pading-destop);
            padding-right: var(--inside-pading-destop);
        }

        .time-table {
            .time-table-title {
                font-size: 1rem;
                padding: 15px var(--inside-pading-destop);
            }

            .time-table-head {
                > .column {
                    font-size: 1rem;
                }
            }

            .time-table-body {
                > .column {
                    padding: 21px var(--inside-pading-destop);

                    .btn {
                        font-size: var(--online-booking-desktop-font-size);
                    }
                }
            }
        }

        .info-form {
            padding: 13px var(--inside-pading-destop) 45px;

            .form-control {
                max-width: 282px;
            }
        }

        .form-submit {
            .btn {
                font-size: var(--online-booking-desktop-font-size);
                width: auto;
                min-width: 195px;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
            }
        }

        .icon-section {
            margin: 41px 0;
        }

        .online-booking-detail {
            margin: 30px 0;
            padding: 30px 0;

            .online-booking-detail-name {
                font-size: 1.25rem;
            }
        }

        .button-action {
            margin-top: 28px;

            .btn {
                min-width: 195px;
            }
        }

        .select-coach-button {
            padding-inline: 110px;
        }
        .coach-list {
            display: flex;
            flex-wrap: wrap;
            margin-inline: -7px;
            padding-inline: 0;
            .coach-item {
                width: 50%;
                padding-inline: 7px;
            }
        }
        .coach-cards {
            padding-inline: 47px;
        }
        .coach-card {
            display: flex;
            text-align: start;
            .coach-image {
                margin-block-end: 0;
                padding-inline-end: 15px;
            }
            .coach-image-wrapper {
                margin-inline-start: 0;
            }
        }
        .big-coach-cards {
            .coach-card {
                .coach-image {
                    inline-size: 250px;
                    img {
                        inline-size: 220px;
                        object-fit: cover;
                    }
                }
                .coach-image-wrapper {
                    block-size: 220px;
                }
                .coach-name {
                    @include font-size(19px);
                }
                .coach-detail {
                    inline-size: calc(100% - 250px);
                }
            }
        }
    }

    .online-booking-success,
    .online-booking-error {
        .logo {
            margin: 0 0 41px;
        }

        p {
            font-size: var(--online-booking-desktop-font-size);
            line-height: 1.5;
        }
    }
}

@include media-breakpoint-up(lg) {
    .online-booking {
        padding: 40px 0;

        h1 {
            font-size: 2.1875rem;
            margin-bottom: 23px;
        }

        p {
            font-size: var(--online-booking-desktop-font-size);
            line-height: 1.5;
        }

        .logo {
            margin: 0 0 34px;
        }

        .service-select-item {
            > p {
                font-size: var(--online-booking-desktop-font-size);
                line-height: 1.75;
            }
        }

        .info-form {
            .form-group {
                display: block;

                > label {
                    width: 100%;
                }
            }
        }

        .button-action {
            .btn {
                font-size: var(--online-booking-desktop-font-size);
            }
        }
    }

    .online-booking-success,
    .online-booking-error {
        .logo {
            margin: 0 0 75px;
        }
    }
}
