<div class="card workout-plan">
    <form (ngSubmit)="onSubmit()" [formGroup]="workoutPlanForm">
        <div class="form-group">
            <label for="exampleInput3">{{ "WORK_OUT_PLAN_DETAIL.IS_TURN_ON_WORK_OUT_PLAN" | translate }}</label>
            <div>
                <label class="switch switch-label switch-pill switch-outline-primary-alt">
                    <input #isTurnOn class="switch-input" type="checkbox" formControlName="is_turn_on_workout_plan" />
                    <span
                        class="switch-slider"
                        attr.data-checked="{{ 'FORM.ON' | translate }}"
                        attr.data-unchecked="{{ 'FORM.OFF' | translate }}"
                    ></span>
                </label>
            </div>
        </div>

        <div class="form-group required-form">
            <label for="exampleInput1">{{ "WORK_OUT_PLAN_DETAIL.NAME" | translate }}</label>
            <div>
                <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
            'is-invalid':
              f.name.touched && (f.name.errors || f.name.errors?.required)
          }"
                    id="name"
                    name="name"
                    formControlName="name"
                    value="{{ workoutPlan?.name }}"
                />
                <div *ngIf="f.name.touched" class="invalid-feedback">
                    <app-control-messages [control]="workoutPlanForm.get('name')"> </app-control-messages>
                </div>
            </div>
        </div>

        <div class="form-group required-form">
            <label for="exampleInput1">{{ "WORK_OUT_PLAN_DETAIL.PURPOSE" | translate }}</label>
            <div>
                <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
            'is-invalid':
              f.purpose.touched &&
              (f.purpose.errors || f.purpose.errors?.required)
          }"
                    id="purpose"
                    name="purpose"
                    formControlName="purpose"
                    value="{{ workoutPlan?.purpose }}"
                />
                <div *ngIf="f.purpose.touched" class="invalid-feedback">
                    <app-control-messages [control]="workoutPlanForm.get('purpose')"> </app-control-messages>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInput3">{{ "WORK_OUT_PLAN_DETAIL.RENEWAL_DATE" | translate }}</label>
            <div class="short">
                <input
                    type="text"
                    class="form-control date-picker"
                    bsDatepicker
                    [dateCustomClasses]="dateCustomClasses"
                    name="renewal_date"
                    formControlName="renewal_date"
                    [bsConfig]="{
            isAnimated: true,
            showClearButton: true,
            clearPosition: 'right',
            dateInputFormat: datePickerFormat
          }"
                    value="{{ renewalDate | date : dateFormat }}"
                    readonly
                />
                <div *ngIf="f.renewal_date.touched" class="invalid-feedback">
                    <app-control-messages [control]="workoutPlanForm.get('renewal_date')"> </app-control-messages>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInput1">{{ "DIET_PLAN.BUTTON_TEXT" | translate }}</label>
            <div>
                <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
            'is-invalid':
              f.button_text.touched &&
              (f.button_text.errors || f.button_text.errors?.required)
          }"
                    id="button_text"
                    name="button_text"
                    formControlName="button_text"
                    value="{{ workoutPlan?.button_text }}"
                />
                <div *ngIf="f.button_text.touched" class="invalid-feedback">
                    <app-control-messages [control]="workoutPlanForm.get('button_text')"> </app-control-messages>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInput3"> {{ "WORK_OUT_PLAN_DETAIL.INFORMATION" | translate }} </label>
            <div>
                <ckeditor
                    class="form-control"
                    [ngClass]="{
            'is-invalid':
              f.information.touched &&
              (f.information.errors || f.information.errors?.required)
          }"
                    formControlName="information"
                    name="information"
                    [editor]="Editor"
                    data="workoutPlan?.information"
                    rows="6"
                    [config]="{
            toolbar: [
              'heading',
              '|',
              'bold',
              'italic',
              'bulletedList',
              'undo',
              'redo'
            ]
          }"
                >
                </ckeditor>
                <div *ngIf="f.information.touched" class="invalid-feedback">
                    <app-control-messages [control]="workoutPlanForm.get('information')"> </app-control-messages>
                </div>
            </div>
        </div>

        <div class="form-group" *ngIf="isAdmin">
            <label for="exampleInput3">{{ "WORK_OUT_PLAN_DETAIL.LOCK" | translate }}</label>
            <div>
                <label class="switch switch-label switch-pill switch-outline-primary-alt">
                    <input #isTurnOn class="switch-input" type="checkbox" formControlName="is_lock_workout_plan" />
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
            </div>
        </div>

        <div class="form-group" *ngIf="isLockWorkoutPlan">
            <label></label>
            <div class="button-area">
                <button class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
            </div>
        </div>
    </form>
    <app-work-out-set></app-work-out-set>
</div>

<div
    bsModal
    #notificationModal="bs-modal"
    class="modal fade edit-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
    styly="z-index:100000;"
>
    <div class="modal-dialog modal-dialog-centered modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" [translate]="'NOTIFICATION_MODAL.HEADER'"></div>
            </div>
            <div class="modal-body">
                <span [translate]="'MEMBER_TABS.WORKOUT_PLAN'"></span>
                <span [translate]="'NOTIFICATION_MODAL.TITLE'"></span><br />
                <span [translate]="'NOTIFICATION_MODAL.DESCRIPTION'"></span>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="notificationModal.hide(); saveWorkoutPlan(false)"
                    [translate]="'NOTIFICATION_MODAL.REJECT'"
                ></button>
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="notificationModal.hide(); saveWorkoutPlan(true)"
                    [translate]="'NOTIFICATION_MODAL.SEND'"
                ></button>
            </div>
        </div>
    </div>
</div>
