<h3 class="header">{{ "MEMBERSHIP_CONDITIONS.HEADER" | translate }}</h3>
<div class="card">
    <form (ngSubmit)="onSubmit()" [formGroup]="membershipForm">
        <div class="form-group">
            <ckeditor
                class="form-control"
                [ngClass]="{
          'is-invalid':
            f.membership_content.touched &&
            (f.membership_content.errors ||
              f.membership_content.errors?.required)
        }"
                formControlName="membership_content"
                name="membership_content"
                [editor]="Editor"
                rows="6"
                [config]="{
          toolbar: [
            'heading',
            '|',
            'bold',
            'italic',
            'bulletedList',
            'numberedlist',
            'link',
            'insertTable'
          ]
        }"
            >
            </ckeditor>
            <div *ngIf="f.membership_content.touched" class="invalid-feedback">
                <app-control-messages [control]="membershipForm.get('membership_content')"> </app-control-messages>
            </div>
        </div>
        <div class="form-group">
            <div class="button-area">
                <button class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
            </div>
        </div>
    </form>
</div>
