<h3 class="header">Carb Styring Koncept</h3>
<div class="card">
    <div class="calculator-section">
        <div class="form-inline">
            <div class="form-group -stack">
                <label for="input1">Weight</label>
                <div>
                    <div class="input-group">
                        <!-- <input type="text" class="form-control" placeholder="" aria-label="0" aria-describedby="input1"> -->
                        <input type="number" class="form-control" [(ngModel)]="sectionGroup.personalWeightKg" />
                        <div class="input-group-append">
                            <span class="input-group-text" id="input1">KG</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group -stack">
                <label for="input2">Fat</label>
                <div>
                    <div class="input-group">
                        <!-- <input type="text" class="form-control" placeholder="" aria-label="0" aria-describedby="input2"> -->
                        <input type="number" class="form-control" [(ngModel)]="sectionGroup.personalFatPercentage" />
                        <div class="input-group-append">
                            <span class="input-group-text" id="input2">%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="field-input {{ carbStyringSection.classColor }}"
            *ngFor="let carbStyringSection of sectionGroup.carbStyringSections"
        >
            <div class="field-input-head">
                <span>{{ carbStyringSection.sectionPackage }}</span>|<span
                    >Træning: {{ carbStyringSection.training }}</span
                >|<span>Type: {{ carbStyringSection.type }}</span>|<span
                    >Bruges till: {{ carbStyringSection.usedFor }}</span
                >
            </div>
            <div class="field-input-content">
                <div class="form-inline">
                    <div class="form-group -stack">
                        <label for="input5">Kcal</label>
                        <div>
                            <input
                                type="text"
                                class="form-control"
                                [value]="
                  toFixedValue(sectionGroup.getKcal(carbStyringSection), 0)
                "
                                readonly
                            />
                        </div>
                    </div>
                    <div class="form-group -stack">
                        <label for="input6">Protein</label>
                        <div>
                            <input
                                type="text"
                                class="form-control"
                                [value]="
                  toFixedValue(sectionGroup.getProtien(carbStyringSection), 0)
                "
                                readonly
                            />
                        </div>
                    </div>
                    <div class="form-group -stack">
                        <label for="input7">Carbs</label>
                        <div>
                            <input
                                type="text"
                                class="form-control"
                                [value]="
                  toFixedValue(sectionGroup.getCarbs(carbStyringSection), 0)
                "
                                readonly
                            />
                        </div>
                    </div>
                    <div class="form-group -stack">
                        <label for="input8">Gr.</label>
                        <div>
                            <input type="number" class="form-control" [(ngModel)]="carbStyringSection.factor.carbs" />
                        </div>
                    </div>
                    <div class="form-group -stack">
                        <label for="input9">Fat</label>
                        <div>
                            <input
                                type="text"
                                class="form-control"
                                [value]="
                  toFixedValue(sectionGroup.getFat(carbStyringSection), 0)
                "
                                readonly
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="calculator-section">
        <div class="calculator-title-section">
            <h4>Stage ready kropstyper - specifikke diæter</h4>
            <p>
                <strong>God til bl.a. Max tilladte fedt % for mænd er 25% og 15% for kvinder</strong>
            </p>
        </div>
        <div
            class="field-input {{ stageReadySection.classColor }}"
            *ngFor="let stageReadySection of sectionGroup.stageReadySections"
        >
            <div class="field-input-head">
                <span>{{ stageReadySection.sectionPackage }}</span>|<span
                    >Træning: {{ stageReadySection.training }}</span
                >|<span>Type: {{ stageReadySection.type }}</span>|<span
                    >Bruges till: {{ stageReadySection.usedFor }}</span
                >
            </div>
            <div class="field-input-content">
                <div class="form-inline">
                    <div class="form-group -stack">
                        <label for="input5">Kcal</label>
                        <div>
                            <input
                                type="text"
                                class="form-control"
                                [value]="
                  toFixedValue(sectionGroup.getStageKcal(stageReadySection), 0)
                "
                                readonly
                            />
                        </div>
                    </div>
                    <div class="form-group -stack">
                        <label for="input6">Protein</label>
                        <div>
                            <input
                                type="text"
                                class="form-control"
                                [value]="
                  toFixedValue(
                    sectionGroup.getStageProtien(stageReadySection),
                    0
                  )
                "
                                readonly
                            />
                        </div>
                    </div>
                    <div class="form-group -stack">
                        <label for="input7">Carbs</label>
                        <div>
                            <input
                                type="text"
                                class="form-control"
                                [value]="
                  toFixedValue(sectionGroup.getStageCarbs(stageReadySection), 0)
                "
                                readonly
                            />
                        </div>
                    </div>
                    <div class="form-group -stack">
                        <label for="input9">Fat</label>
                        <div>
                            <input
                                type="text"
                                class="form-control"
                                [value]="
                  toFixedValue(sectionGroup.getStageFat(stageReadySection), 0)
                "
                                readonly
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="kcalCulatorDetailForm">
        <div class="calculator-section">
            <div class="calculator-title-section">
                <h4>Instructions</h4>
            </div>
            <div class="form-group -stack">
                <div>
                    <textarea
                        [readonly]="!currentUser?.isAdmin"
                        autosize
                        class="form-control auto-size"
                        id="instruction"
                        name="instruction"
                        formControlName="instruction"
                        value="{{ kcalCalculatorDetail?.instruction }}"
                    >
                    </textarea>
                </div>
            </div>
            <div class="form-group -stack">
                <div *ngIf="currentUser?.isAdmin" class="button-area">
                    <button type="submit" class="btn btn-primary">{{ "FORM.SAVE" | translate }}</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="reloadCurrentPage()">
                        {{ "FORM.CANCEL" | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
