.coach {
    .card-body {
        &.collapse {
            padding: 0 40px;

            .card-item-warp {
                background: $white;
                padding: 15px 0;
                border-radius: $border-radius;
                margin-bottom: 15px;
            }

            .card-item {
                padding: 15px 30px 0;
                display: flex;
                width: 100%;

                .date {
                    width: 150px;
                    display: inline-flex;

                    .custom-control {
                        margin-top: 7px;
                    }
                }

                .time-warp {
                    display: block;
                    width: 100%;
                }

                .time {
                    margin-right: 30px;
                    display: inline-flex;
                    padding-bottom: 15px;

                    &:last-child {
                        margin-right: 0;
                    }

                    .inline-select {
                        display: flex;
                    }

                    span,
                    .custom-select {
                        margin: auto 15px auto 0;
                    }

                    span {
                        font-weight: 600;
                        font-size: 14px;
                    }

                    .custom-select {
                        width: 70px;
                    }
                    .custom-select {
                        &.is-invalid {
                            padding-right: 20px;
                            background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f86c6b' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f86c6b' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E")
                                #fff no-repeat center right 5px;
                            background-size: 20px auto;
                        }
                    }
                    .was-validated {
                        .custom-select {
                            &:invalid {
                                padding-right: 20px;
                                background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f86c6b' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f86c6b' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E")
                                    #fff no-repeat center right 5px;
                                background-size: 20px auto;
                            }
                        }
                    }
                }
            }
        }
    }

    > .button-area {
        padding: 20px 0;
    }
}

@include media-breakpoint-down($breakpoint-mobile-down) {
    .coach {
        .card-body {
            &.collapse {
                .card-item {
                    display: block;
                }
            }
        }
    }
}
