body {
}
.calculator-section {
    margin-bottom: 19px;
    .calculator-title-section {
        margin-bottom: 16px;

        h4 {
            margin-bottom: 6px;
        }

        p {
            margin-bottom: 16px;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }
    textarea {
        min-height: 145px;
        line-height: 1.5;
    }
}
