.login {
    margin: auto;
    max-width: 460px;

    .logo {
        width: 100%;
        @include margin-res-bottom;
    }

    .input-group-text {
        border-right: none;
    }

    .input-group-prepend {
        margin-right: -39px;
    }

    .input-group {
        > .form-control:not(:first-child),
        > .custom-select:not(:first-child) {
            border-radius: $border-radius;
            padding-left: 35px;
        }
    }

    a.forgot-password-link,
    .forgot-password-link {
        color: $primary;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            color: darken($primary, 10%);
        }
    }
}
