.mobile-web-view {
    background-color: transparent;

    &.notification-general {
        background: $black;
        background: linear-gradient(180deg, $primary 0%, $black 100%);
        min-height: 100vh;
    }

    .mobile-web-view-wrapper {
        background-color: $white;
    }

    a {
        color: $danger;
    }

    .notification-general {
        h3,
        h4,
        h6 {
            margin-bottom: 10px;
            font-weight: 400;
            color: $notification-text-color;
        }
    }

    .res-img {
        display: block;
        padding-bottom: 14px;
        margin-top: 0px;
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }
    }

    .res-content {
        padding: 21px 15px 19px;
        color: $notification-text-color;
        font-size: 1.25rem;

        p {
            margin-bottom: 0;
        }

        .res-date {
            color: $notification-date-color;
            font-size: $medium-font-size;
            margin-bottom: 10px;
            font-size: 1.125rem;
        }

        table {
            width: calc(100% + 60px);
            margin: 0 -30px;

            tr {
                td {
                    border-bottom: 1px solid #75814f;
                    padding: 12px 10px;

                    &:first-child {
                        padding-left: 30px;
                    }

                    &:last-child {
                        text-align: right;
                        padding-right: 30px;
                    }
                }
            }
        }
    }
}
