<ul class="nav">
    <li *ngFor="let item of navItems" class="nav-item">
        <a *ngIf="hasAdminMenu(item.name)" class="nav-link {{ getActiveMenu(item.url) }}" [routerLink]="[item.url]">
            <i class="nav-icon fad {{ item.icon }}"></i>
            {{ "MENU." + item.name | translate }}
            <span *ngIf="item.name == 'NOTIFICATIONS' && (notiNumber$ | async) > 0" class="badge badge-warning"
                >{{ notiNumber$ | async }}</span
            >
        </a>
    </li>
</ul>
